



    <div class="block-header">
        <h2>Airline</h2>
        <div class="actions">
          <button mat-icon-button class="more-button" aria-label="Refresh" (click)="getAirline()">
            <mat-icon>refresh</mat-icon>
          </button>
          <button mat-icon-button [matMenuTriggerFor]="alMenu" aria-label="Refresh">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #alMenu="matMenu" xPosition="before">
              <button  *ngIf="airline" mat-menu-item (click)="editAlSloganDialogShow()">
                <mat-icon>public</mat-icon>
                <span>Slogan</span>
              </button>
          </mat-menu>
        </div>
    </div>

    <!-- GRID -->
    <mat-grid-list cols="12" rowHeight="120px">

      <!-- ROW CREATE Airline -->
      <mat-grid-tile *ngIf="!airline" [colspan]="12" [rowspan]="3">

          <mat-card class="card">
  
            <mat-card-header class="card-header">
                
                <mat-card-title>Creare Airline</mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>

                <mat-card-actions class="actions">
                    <button mat-icon-button class="more-button" aria-label="Refresh" (click)="createAirlineDialogShow()">
                      <mat-icon>library_add</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card-header>
  
            <mat-card-content class="card-body card-padding">
              
                <div>
                    <p>Dear <b>{{user.name}}</b>, 
                      here you can create a new airline that aims to conquer the global civil aviation market! 
                      Once in office, you'll receive a budget of $10 million and have carte blanche to decide 
                      which strategy to adopt thanks to more than 60 aircraft and 2,600 geolocalized airports.</p>
                    <p>If you think you have what it takes to be a real airline manager, this job is for you! 
                      So, don’t wait any longer and create your Airline!</p>
                    
                </div>
            </mat-card-content>
            <mat-card-footer class="text-align-center">
                
                <button mat-button color="primary" (click)="createAirlineDialogShow()">CREATE</button>
              </mat-card-footer>
          </mat-card>
      </mat-grid-tile>

      <!-- ROW I 4 Cards Airline DETAILS -->
      <mat-grid-tile *ngIf="airline" [colspan]="colspan4Card" [rowspan]="3">
          <mat-card class="card" style="height: 345px;">
              <mat-card-header class="card-header">
                  <mat-card-title>Logo</mat-card-title>
                  <mat-card-subtitle>A logo is a graphic mark used to 
                    aid and promote public identification and recognition</mat-card-subtitle>
              </mat-card-header>
              
              <mat-card-content class="card-body text-align-center o-hidden">
                  <div class="airline-widget">
                      <img [src]="pvHeaderImageUrl" class="avatar avatar-wide" alt="Logo" style="padding: 0px; margin: 0px; max-width: 90%; max-height: 250px;border: 2px solid #ccc;border-radius: 50%;">
                  </div>
            </mat-card-content>
          </mat-card>
      </mat-grid-tile>
      <!-- ROW I Airline DETAILS -->
      <mat-grid-tile *ngIf="airline" [colspan]="colspan4Card" [rowspan]="3">
          <mat-card class="card" style="height: 345px;">
              
              <mat-card-content class="card-body text-align-center card-padding">
                <app-al-info-for-card
                  [hqAirport]="hqAirport" 
                  [airline]="airline">
                </app-al-info-for-card>
            </mat-card-content>
          </mat-card>
      </mat-grid-tile>

      <mat-grid-tile *ngIf="airline" [colspan]="colspan4Card" [rowspan]="3">
          <mat-card class="card" style="height: 345px;">
              <mat-card-header class="card-header">
                  <mat-card-title>Livery</mat-card-title>
                  <mat-card-subtitle>A livery is a uniform symbol adorning a person, an object or a vehicle that denotes a relationship between the wearer of the livery and an individual or corporate body.</mat-card-subtitle>
              </mat-card-header>
              
              <mat-card-content class="card-body text-align-center o-hidden" style="width:100%;height:100%;">
                  <div class="airline-widget">
                      <img [src]="airline.liveryUrl" class="avatar avatar-wide" alt="Logo" style="padding:0px; margin:3px;width:95%;border: 2px solid #ccc;">
                  </div>
            </mat-card-content>
          </mat-card>
      </mat-grid-tile>
    
  </mat-grid-list>
