<mat-list-item (click)="handleClick($event)">
    <img *ngIf="user" matListAvatar  src="{{avatarImageUrl}}" alt="user.id">
    <mat-icon *ngIf="!user" mat-list-icon>perm_identity</mat-icon>
    <h3 matLine>{{title}}</h3>
    <p matLine *ngIf="user">
      <span>{{user.eMail}}</span>
      <span class="demo-2"> -- {{user.roleName}} </span>
    </p>
  </mat-list-item>
