

    <app-aircraft-header></app-aircraft-header>
    <app-ac-mac-list 
        [macList]="acMacList"
        (refreshListClick)="loadAcMacList()">
    </app-ac-mac-list>
    
  <app-ac-mfr-list 
    [manufacturers]="acMfrList"
    (refreshListClick)="reloadAcMfrList()">
</app-ac-mfr-list>
