
.simple-logo-card{
    align-items: center;
    justify-content: center;
    text-align: justify;
    display: flex;
    &:hover{
        .simple-logo-card-overlay{
            -webkit-transition: opacity .6s;
            -moz-transition: opacity .6s;
            -o-transition: opacity .6s;
            transition: opacity .6s;
            opacity: 0.85;
            @include placement(absolute,0px,null,null,0px);
        }
        .simple-logo-card-name{
            -webkit-transition: opacity .6s;
            -moz-transition: opacity .6s;
            -o-transition: opacity .6s;
            transition: opacity .6s;
            opacity: 1;
            small{
                padding: 2px;
            }
        }
        cursor: pointer;
    }
    &-name{
        opacity: 0;
        position: absolute;
        width: 190px;
        color:#fff;

        @include ie{
            top:66px;
            left:10px;
        }
       
    }
    &-default{
        width: 200px;
    }
    &-overlay{
        background-color: $blue-main;
        @include square(100%);
        opacity: 0;
        position: absolute;
    }
    @include square(200px);
    margin: 0px 18px 18px 0px;
    &-image{
        &-tall{
            @include size(auto, 150px);            
        }
        &-wide{
            @include size(150px, auto);
        }
    }
}

