<div class="contacts c-profile clearfix row">
    <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="c-item">
            <a class="ci-avatar" (click)="gotoMfrAc()">
                <img [src]="mac.tableImgUrl" alt="mac.model">
            </a>

            <div class="c-info">
                <strong  [innerHTML]="mac.model"></strong>
                <small [innerHTML]="mac.ac_type_name"></small>
            </div>

            <div class="c-footer">
                <div class="flex-space-between margin-right-5 margin-left-5 margin-top-5">
                    <div class="flex-box flex-align-items margin-right-10" 
                        matTooltip="Maximum Range" 
                        matTooltipPosition="above" matTooltipClass="tooltip-yellow">
                        <mat-icon class="size-16 margin-right-5">looks</mat-icon>
                        <div class="flex-align-items" *ngIf="mac.max_range_km">
                            <span class="size-14">{{mac.max_range_km | range}}</span>
                        </div>
                    </div>
                    <div class="flex-box flex-align-items margin-right-10" 
                        matTooltip="Maximum Cruise Speed" 
                        matTooltipPosition="above" matTooltipClass="tooltip-yellow">
                        <mat-icon class="size-16 margin-right-5">launch</mat-icon>
                        <div class="flex-align-items" *ngIf="mac.cruise_speed_kmph">
                            <span class="size-14">{{mac.cruise_speed_kmph | speed}}</span>
                        </div>
                    </div>
                    <div class="flex-box flex-align-items" 
                        matTooltip="Maximum Occupants" 
                        matTooltipPosition="above" matTooltipClass="tooltip-yellow">
                        <mat-icon class="size-16 margin-right-5">supervisor_account</mat-icon>
                        <div class="flex-align-items" *ngIf="mac.max_seating">
                            <span class="size-14">{{mac.max_seating | number:'1.0-0'}}</span>
                        </div>
                    </div>
                </div>
                <hr class="margin-top-5 margin-bottom-5">
                <div class="flex-space-between margin-right-5 margin-left-5 margin-right-5 margin-left-5">
                    <div class="flex-box flex-align-items margin-right-10" 
                        matTooltip="Fuel consumption" 
                        matTooltipPosition="above" matTooltipClass="tooltip-yellow">
                        <mat-icon class="size-16 margin-right-5">local_gas_station</mat-icon>
                        <div class="flex-align-items" *ngIf="mac.max_range_km">
                            <span class="size-14">{{mac.avg_fuel_consumption_lp100km | fuelconsum}}</span>
                        </div>
                    </div>
                    <div class="flex-box flex-align-items margin-right-10" 
                        matTooltip="Maximum Cruise Altitude" 
                        matTooltipPosition="above" matTooltipClass="tooltip-yellow">
                        <mat-icon class="size-16 margin-right-5">vertical_align_top</mat-icon>
                        <div class="flex-align-items" *ngIf="mac.cruise_speed_kmph">
                            <span class="size-14">{{mac.max_cruise_altitude_m | len}}</span>
                        </div>
                    </div>
                    <div class="flex-box flex-align-items" 
                        matTooltip="Maximum Occupants" 
                        matTooltipPosition="above" matTooltipClass="tooltip-yellow">
                        <mat-icon class="size-16 margin-right-5">supervisor_account</mat-icon>
                        <div class="flex-align-items" *ngIf="mac.max_seating">
                            <span class="size-14">{{mac.max_seating | number:'1.0-0'}}</span>
                        </div>
                    </div>
                </div>
                <hr class="margin-top-5 margin-bottom-5">
                <button class="waves-effect">
                    <mat-icon class="size-16 margin-right-5">add_shopping_cart</mat-icon>
                    {{mac.price | currency}}
                </button>
            </div>
        </div>
    </div>
</div>

<!--
<mat-card class="card">
    <mat-card-header class="card-header blue text-align-center">
        <mat-card-title  [innerHTML]="mac.model"></mat-card-title>
        <mat-card-subtitle [innerHTML]="mac.ac_type_name"></mat-card-subtitle>
    </mat-card-header>
    
    <div class="pv-header" [style.background-image]="'url(' + mac.tableImgUrl + ')'">
        <img [src]="mac.tableImgUrl" class="pv-main"/>
    </div>
    
    <mat-card-content class="card-body card-padding text-align-justify o-hidden">
        <div class="airline-widget">
            <mat-tab-group >
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon>home</mat-icon>
                    </ng-template>
                    <div class="tab-content">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane animated fadeIn active">
                                <img [src]="mac.tableImgUrl" class="img-responsive m-b-15" alt="mac.model">
                                <div class="h-180" >
                                     
                                    <div class="flex-space-between">
                                        <div class="flex-box flex-align-items margin-right-10" 
                                            matTooltip="Maximum Range" 
                                            matTooltipPosition="above" matTooltipClass="tooltip-yellow">
                                            <mat-icon class="size-16 margin-right-5">looks</mat-icon>
                                            <div class="flex-align-items" *ngIf="mac.max_range_km">
                                                <span class="size-14">{{mac.max_range_km | range}}</span>
                                            </div>
                                        </div>
                                        <div class="flex-box flex-align-items margin-right-10" 
                                            matTooltip="Maximum Cruise Speed" 
                                            matTooltipPosition="above" matTooltipClass="tooltip-yellow">
                                            <mat-icon class="size-16 margin-right-5">launch</mat-icon>
                                            <div class="flex-align-items" *ngIf="mac.cruise_speed_kmph">
                                                <span class="size-14">{{mac.cruise_speed_kmph | speed}}</span>
                                            </div>
                                        </div>
                                        <div class="flex-box flex-align-items" 
                                            matTooltip="Maximum Occupants" 
                                            matTooltipPosition="above" matTooltipClass="tooltip-yellow">
                                            <mat-icon class="size-16 margin-right-5">supervisor_account</mat-icon>
                                            <div class="flex-align-items" *ngIf="mac.max_seating">
                                                <span class="size-14">{{mac.max_seating | number:'1.0-0'}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="margin-top-5 margin-bottom-5 blue-hr">
                                    
                                    <div class="flex-space-between">
                                        <div class="flex-box flex-align-items margin-right-10" 
                                            matTooltip="Fuel consumption" 
                                            matTooltipPosition="above" matTooltipClass="tooltip-yellow">
                                            <mat-icon class="size-16 margin-right-5">local_gas_station</mat-icon>
                                            <div class="flex-align-items" *ngIf="mac.max_range_km">
                                                <span class="size-14">{{mac.avg_fuel_consumption_lp100km | fuelconsum}}</span>
                                            </div>
                                        </div>
                                        <div class="flex-box flex-align-items margin-right-10" 
                                            matTooltip="Maximum Cruise Altitude" 
                                            matTooltipPosition="above" matTooltipClass="tooltip-yellow">
                                            <mat-icon class="size-16 margin-right-5">vertical_align_top</mat-icon>
                                            <div class="flex-align-items" *ngIf="mac.cruise_speed_kmph">
                                                <span class="size-14">{{mac.max_cruise_altitude_m | len}}</span>
                                            </div>
                                        </div>
                                        <div class="flex-box flex-align-items" 
                                            matTooltip="Maximum Occupants" 
                                            matTooltipPosition="above" matTooltipClass="tooltip-yellow">
                                            <mat-icon class="size-16 margin-right-5">supervisor_account</mat-icon>
                                            <div class="flex-align-items" *ngIf="mac.max_seating">
                                                <span class="size-14">{{mac.max_seating | number:'1.0-0'}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="margin-top-5 margin-bottom-5 blue-hr">
                                    
                                    <div class="flex-space-between">
                                        <div class="flex-box flex-align-items margin-right-10" 
                                            matTooltip="Maximum Cruise Speed" 
                                            matTooltipPosition="above" matTooltipClass="tooltip-yellow">
                                            <mat-icon class="size-16 margin-right-5">launch</mat-icon>
                                            <div class="flex-align-items" *ngIf="mac.cruise_speed_kmph">
                                                <span class="size-14">{{mac.cruise_speed_kmph | speed}}</span>
                                            </div>
                                        </div>
                                        <div class="flex-box flex-align-items" 
                                            matTooltip="Maximum Cruise Altitude" 
                                            matTooltipPosition="above" matTooltipClass="tooltip-yellow">
                                            <mat-icon class="size-16 margin-right-5">vertical_align_top</mat-icon>
                                            <div class="flex-align-items" *ngIf="mac.cruise_speed_kmph">
                                                <span class="size-14">{{mac.max_cruise_altitude_m | len}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="margin-top-5 margin-bottom-5 blue-hr">
                                   
                                    <div class="flex-space-between">
                                        <div class="flex-box flex-align-items margin-right-10" 
                                            matTooltip="Minimum Takeoff Runway Lenght" 
                                            matTooltipPosition="above" matTooltipClass="tooltip-yellow">
                                            <mat-icon class="size-16 margin-right-5">flight_takeoff</mat-icon>
                                            <div class="flex-align-items" *ngIf="mac.cruise_speed_kmph">
                                                <span class="size-14">{{mac.take_off_m | len}}</span>
                                            </div>
                                        </div>
                                        <div class="flex-box flex-align-items" 
                                            matTooltip="Minimum Landing Runway Lenght" 
                                            matTooltipPosition="above" matTooltipClass="tooltip-yellow">
                                            <mat-icon class="size-16 margin-right-5">flight_land</mat-icon>
                                            <div class="flex-align-items" *ngIf="mac.cruise_speed_kmph">
                                                <span class="size-14">{{mac.landing_m | len}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="margin-top-5 margin-bottom-5 blue-hr">
                                    
                                    <div class="flex-space-between">
                                        <div class="flex-box flex-align-items margin-right-10" 
                                            matTooltip="Fuel consumption" 
                                            matTooltipPosition="above" matTooltipClass="tooltip-yellow">
                                            <mat-icon class="size-16 margin-right-5">local_gas_station</mat-icon>
                                            <div class="flex-align-items" *ngIf="mac.max_range_km">
                                                <span class="size-14">{{mac.avg_fuel_consumption_lp100km | fuelconsum}}</span>
                                            </div>
                                        </div>
                                        <div class="flex-box flex-align-items" 
                                            matTooltip="Cost per flight hour" 
                                            matTooltipPosition="above" matTooltipClass="tooltip-yellow">
                                            <mat-icon class="size-16 margin-right-5">toll</mat-icon>
                                            <div class="flex-align-items" *ngIf="mac.cruise_speed_kmph">
                                                <span class="size-14">{{mac.cost_per_fh | costph}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="margin-top-5 margin-bottom-5 blue-hr">
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                
                <mat-tab>
                    <ng-template mat-tab-label>
                    <mat-icon>toys</mat-icon>
                    </ng-template>
                    <div class="tab-content">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane animated fadeIn active">
                                    <img [src]="mac.tableImgUrl" class="img-responsive m-b-15" alt="mac.model">
                                    <div class="h-180" >
                                        
                                        <div class="flex-space-between">
                                            <div class="flex-box flex-align-items margin-right-10" 
                                                matTooltip="Maximum Range" 
                                                matTooltipPosition="above" matTooltipClass="tooltip-yellow">
                                                <mat-icon class="size-16 margin-right-5">looks</mat-icon>
                                                <div class="flex-align-items" *ngIf="mac.max_range_km">
                                                    <span class="size-14">{{mac.max_range_km | range}}</span>
                                                </div>
                                            </div>
                                            <div class="flex-box flex-align-items margin-right-10" 
                                                matTooltip="Maximum Cruise Speed" 
                                                matTooltipPosition="above" matTooltipClass="tooltip-yellow">
                                                <mat-icon class="size-16 margin-right-5">launch</mat-icon>
                                                <div class="flex-align-items" *ngIf="mac.cruise_speed_kmph">
                                                    <span class="size-14">{{mac.cruise_speed_kmph | speed}}</span>
                                                </div>
                                            </div>
                                            <div class="flex-box flex-align-items" 
                                                matTooltip="Maximum Occupants" 
                                                matTooltipPosition="above" matTooltipClass="tooltip-yellow">
                                                <mat-icon class="size-16 margin-right-5">supervisor_account</mat-icon>
                                                <div class="flex-align-items" *ngIf="mac.max_seating">
                                                    <span class="size-14">{{mac.max_seating | number:'1.0-0'}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="margin-top-5 margin-bottom-5 blue-hr">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                </mat-tab>
                  
                <mat-tab>
                    <ng-template mat-tab-label>
                    <mat-icon >description</mat-icon>
                    </ng-template>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane animated fadeIn active">
                            <img [src]="mac.tableImgUrl" class="img-responsive m-b-15" alt="mac.model">
                            <div class="h-180" [innerHTML]="mac.notes"></div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
  </mat-card-content>
</mat-card>

<div class="card simple-logo-card" (click)="onClick()">
    <div class="simple-logo-card-overlay"></div>
    <img *ngIf="logo" [src]="logo" alt="logo" [ngClass]="imageClass" (load)="onImageLoad()" (error)="onImageError()">
    <div *ngIf="!logo" class="simple-logo-card-default">{{name}}</div>
    <div class="simple-logo-card-name">{{name}} <hr/><small *ngIf="notes">{{notes}}</small></div>
</div>

<div class="pv-body">
                                <h2>Malinda Hollaway</h2>
                                <small>Praesent vitae justo purus. In hendrerit lorem nislac lacinia urnaunc vitae ante
                                    id magna
                                </small>

                                <ul class="pv-contact">
                                    <li><i class="zmdi zmdi-pin"></i> Jupitor</li>
                                    <li><i class="zmdi zmdi-phone"></i> +11 55694785</li>
                                </ul>

                                <ul class="pv-follow">
                                    <li>589 Followers</li>
                                    <li>8545 Followings</li>
                                </ul>

                                <a href="" class="pv-follow-btn">Follow</a>
                            </div>
-->