<div class="block-header">
    <ul class="breadcrumb">
        <li>
          <a (click)="gotoManufacturers()"> 
            <mat-icon (click)="gotoManufacturers()">location_city</mat-icon> Manufacturers
          </a>
        </li>
        <li *ngIf="mfr">
            <a (click)="gotoMfr()"> 
               {{mfr.mfr_name}}
            </a>
          </li>
        <li  *ngIf="mac" class="active">{{mac.model}}</li>
    </ul>

    <div class="actions">
      <button mat-icon-button aria-label="Manufacturers"
        (click)="gotoManufacturers()" >
          <mat-icon>location_city</mat-icon>
      </button>
      <button mat-icon-button aria-label="Manufacturers"
        (click)="gotoMfr()" >
        <mat-icon>airplanemode_active</mat-icon>
    </button>
      <button mat-icon-button [matMenuTriggerFor]="menuAircrafts" aria-label="Menu Aircrafts">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menuAircrafts="matMenu" xPosition="before">
        <button mat-menu-item>Expand</button>
        <button mat-menu-item>Remove</button>
      </mat-menu>
    </div>
  </div>