<mat-card class="book-card">
    <mat-card-content class="info">
        <div class="book-header">
            <img  [src]="cover" alt="cover" (load)="onImageLoad()" (error)="onImageError()" class="coverpage">
            <h1>{{mfr.mfr_name}}</h1>
            <h2>{{mfr.mfr_headquartier}}</h2>
            <h4>{{mfr.city_name}}, {{mfr.country_name}}</h4>
            <span class="minutes">117 min</span>
            <p class="type">Action, Crime, Fantasy</p>
        </div>
        <div class="book-desc">
            <p class="text">{{mfr.mfr_notes}}</p>
        </div>
        <mat-card-footer class="book-actions">
            <ul>
                <li (click)="gotoManufacturers()" matTooltip="Manufacturers" 
                    matTooltipPosition="above" matTooltipClass="tooltip-yellow"><mat-icon>location_city</mat-icon></li>
                <li><mat-icon>font_download</mat-icon></li>
                <li><i class="material-icons">chat_bubble</i></li>
            </ul>
        </mat-card-footer>

    </mat-card-content>
    <div class="book-blur-back">
            <img  [src]="coverbkg" alt="coverbkg" (load)="onImageLoad()" (error)="onImageError()">
    </div>
</mat-card>