<!--
  <mat-card class="card">
  
  <mat-card-header class="card-header">
      
      <mat-card-title>Manufacturers</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
      
      <mat-card-actions class="actions">
          <button mat-icon-button class="more-button" aria-label="Refresh" (click)="createAirlineDialogShow()">
            <mat-icon>library_add</mat-icon>
          </button>
      </mat-card-actions>
      
  </mat-card-header>

  <mat-card-content class="card-body card-padding flex-wrap flex-align-items">
     
        <app-mfr-logo-card *ngFor="let mfr of manufacturers"
          (cardClicked)="onAcMfrClick($event)"
          [id]="mfr.mfr_id"
          [name]="mfr.mfr_name"
          [logo]="mfr.logoUrl"
          [notes]="mfr.mfr_notes">
        </app-mfr-logo-card>
      
  </mat-card-content>
  
  <mat-card-footer class="text-align-center">
      
      <button mat-button color="primary" (click)="createAirlineDialogShow()">CREATE</button>
    </mat-card-footer>
  
</mat-card>
-->
<div class="block-header">
  <h2>Aircraft Manufacturers</h2>

  <div class="actions">
    <button mat-icon-button class="more-button" aria-label="Refresh" (click)="onRefreshListClick()">
      <mat-icon>refresh</mat-icon>
    </button>
    <button *ngIf="isAdmin" mat-icon-button aria-label="Aircrafts"
    (click)="gotoAircraftAdmin()" > 
        <mat-icon>airplanemode_active</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menuAircrafts" aria-label="Menu Aircrafts">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menuAircrafts="matMenu" xPosition="before">
      <button mat-menu-item>Expand</button>
      <button mat-menu-item>Remove</button>
    </mat-menu>
  </div>
</div>

<div class="flex-wrap flex-align-items margin-left-15 margin right-15">
     
  <app-mfr-logo-card *ngFor="let mfr of manufacturers"
    (cardClicked)="onAcMfrClick($event)"
    [id]="mfr.mfr_id"
    [name]="mfr.mfr_name"
    [logo]="mfr.logoUrl"
    [notes]="mfr.mfr_notes">
  </app-mfr-logo-card>

</div>
<!-- 
  <mat-grid-list cols="12" rowHeight="130px">
      <mat-grid-tile  *ngFor="let mfr of manufacturers"
      [colspan]="colspan3Card" [rowspan]="2">

      <app-mfr-logo-card (cardClicked)="onAcMfrClick($event)"
        [id]="mfr.mfr_id"
        [name]="mfr.mfr_name"
        [logo]="mfr.logoUrl"
        [notes]="mfr.mfr_notes">
      </app-mfr-logo-card>

    </mat-grid-tile>
     
    <mat-grid-tile  *ngFor="let mfr of manufacturers"
      [colspan]="colspan3Card" [rowspan]="3">
      <mat-card class="card blog-post">
          <img [src]="mfr.logoUrl" class="img-responsive" alt="Logo">
          <mat-card-header class="card-header blue text-align-center">
              <mat-card-title>{{ mfr.mfr_name }}</mat-card-title>
              <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          
          <mat-card-content class="card-body card-padding text-align-justify o-hidden ">
              {{ mfr.mfr_notes }}
        </mat-card-content>
      </mat-card>
  </mat-grid-tile>
  
  </mat-grid-list>
  -->