


<h2 mat-dialog-title> {{airline.name}} Airport 
  <small>Update base information for airline ID {{airline.airline_id}}.</small></h2>

<mat-dialog-content >
    
    <form class="lcb-form" [formGroup]="form">
      
      <mat-form-field floatLabel="always" class="lcb-full-width">
        <input matInput  placeholder="Airline Name"  formControlName="alName" required class="form-control">
        <mat-error *ngIf="alName.invalid">{{errorAlName}}</mat-error>
      </mat-form-field>

      <mat-form-field floatLabel="always" >
        <input matInput  placeholder="Airline ICAO Code"   formControlName="code" required class="form-control">
        <mat-error *ngIf="code.invalid">{{errorCode}}</mat-error>
      </mat-form-field>

      <mat-form-field floatLabel="always" class="lcb-full-width">
          <textarea matInput  placeholder="Notes" formControlName="description" class="form-control"></textarea>
        </mat-form-field>
    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <mat-error *ngIf="errorMessage" class="margin-right-10"> 
        {{errorMessage}}
       </mat-error>
     <mat-progress-spinner *ngIf="hasSpinner" diameter="24"
       class="dialog-spinner"
       color="primary"
       mode="indeterminate">
   </mat-progress-spinner>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button   *ngIf="!hasSpinner" mat-fab color="primary" aria-label="Airline Edit"
    [disabled]="form.invalid" (click)="onLoginClick()">
      <mat-icon >flight_land</mat-icon>
  </button>
</mat-dialog-actions>
