

.mat-dialog-title {
  margin-bottom:10px;
}

.mat-form-field{
  margin-right: 15px;
}

.lcb-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.lcb-full-width {
  width: 100%;
}

.mat-error {
  display: block;
  padding-right: 15px;
}
