<div class="block-header">
    <h2>Manufacturers</h2>

    <div class="actions">
      <button *ngIf="isAdmin" mat-icon-button aria-label="Aircrafts"
      (click)="gotoAircraftAdmin()" >
          <mat-icon>airplanemode_active</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menuAircrafts" aria-label="Menu Aircrafts">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menuAircrafts="matMenu" xPosition="before">
        <button mat-menu-item>Expand</button>
        <button mat-menu-item>Remove</button>
      </mat-menu>
    </div>
  </div>