<form [formGroup]="step">
    <ng-template matStepLabel>Hub Airport</ng-template>
    <mat-form-field>
      <input matInput placeholder="Airport" 
      [formControl]="airportFormControl"
      formControlName="hq_airport" required 
      [matAutocomplete]="airports">
      <mat-autocomplete #airports="matAutocomplete" [displayWith]="displayAp">
        <mat-option *ngFor="let ap of filteredAp | async" [value]="ap">
          {{ap.sname}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <!-- {{stepTwo.value.address}} -->
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </form>