    <!-- Airport Name and Code -->
    <div *ngIf="airport" class="flex-space-between">
        <div class="flex-align-items size-14">
            <!-- Activity State -->
            <i *ngIf="airport.active" class="material-icons green size-18 margin-right-5"  matTooltip="Active" matTooltipPosition="above" matTooltipClass="tooltip-yellow" >airplanemode_active</i>
            <i *ngIf="!airport.active" class="material-icons red size-18 margin-right-5"  matTooltip="Inactive" matTooltipPosition="above" matTooltipClass="tooltip-yellow" >airplanemode_inactive</i>
            <!-- CODE IATA.ICAO-->
            <span  *ngIf="airport.iata"  matTooltip="IATA: {{airport.iata}}, ICAO: {{airport.icao}}" matTooltipPosition="above" matTooltipClass="tooltip-yellow" class="blue size-14 margin-right-5">{{airport.iata}}</span>
            <span  *ngIf="!airport.iata"  class="blue size-14 margin-right-5">{{airport.icao}}</span>
            <div class="blue size-14 margin-right-5">{{airport.apName | truncate: 38}}</div>
        </div>
        <div class="flex-align-items">
                <div class="size-14">
                        <img src="{{airport.countryFlagUrl}}" alt="{{airport.countryName}}"
                        class="img-14"
                        matTooltip="{{airport.countryName}} ({{airport.countryIso}})"
                        matTooltipPosition="above" matTooltipClass="tooltip-yellow" />
                </div>
                <div class="size-14 margin-right-5">{{airport.cityName | truncate: 15}},</div>
                <div class="size-14 margin-right-5">{{airport.countryIso}}</div>
        </div>
        
    </div>
    