<app-mac-page-header [mac]="mac" [mfr]="mfr"> </app-mac-page-header>

<div class="card" id="profile-main">

    <div class="pm-overview thin-scrollbar-y">
        <div class="mCustomScrollBox mCS-minimal-dark mCSB_vertical_horizontal mCSB_outside" style="max-height: none;" tabindex="0">
            <div id="mCSB_2_container" class="mCSB_container mCS_x_hidden mCS_no_scrollbar_x" style="position: relative; top: 0px; left: 0px; width: 100%;" dir="ltr">

                <div class="pmo-pic">
                    <div class="pmo-pic-content">
                        <div class="img-circle">  
                            <img  [src]="mac.tableImgUrl" alt="mac.model">  
                        </div>
                        

                        <div class="dropdown pmop-message">
                            <a href="" class="btn bgm-white btn-float z-depth-1 waves-effect waves-circle waves-float">
                                <mat-icon >shopping_cart</mat-icon>
                            </a>
                            <!--
                            <div class="dropdown-menu">
                                <textarea placeholder="Write something..."></textarea>

                                <button class="btn bgm-green btn-float waves-effect waves-circle waves-float"><i class="zmdi zmdi-mail-send"></i>
                                </button>
                            </div>
                            -->
                        </div>
                        <!--
                        <a href="" class="pmop-edit">
                            <i class="zmdi zmdi-camera"></i> <span class="hidden-xs">Update Profile Picture</span>
                        </a>
                        -->
                    </div>


                    <div class="pmo-stat">
                        <h2>{{mac.ac_type_name}}</h2>
                        {{mac.model}}
                    </div>
                </div>

                <div class="pmo-block pmo-contact hidden-xs">
                    <h2>Contact</h2>

                    <ul>
                        <li><mat-icon >settings_phone</mat-icon> 00971 12345678 9</li>
                        <li><mat-icon >mail_outline</mat-icon> malinda-h@gmail.com</li>
                      
                        <li>
                                <mat-icon >place</mat-icon>
                            <address class="m-b-0 ng-binding">
                                44-46 Morningside Road,<br>
                                Edinburgh,<br>
                                Scotland
                            </address>
                        </li>
                    </ul>
                </div>

                <div class="pmo-block pmo-items hidden-xs">
                    <h2>Connections</h2>

                    <div class="pmob-body">
                        <div class="row">
                            <a href="" class="col-xs-2">
                                <img class="img-circle mCS_img_loaded" src="img/profile-pics/1.jpg" alt="">
                            </a>
                            <a href="" class="col-xs-2">
                                <img class="img-circle mCS_img_loaded" src="img/profile-pics/2.jpg" alt="">
                            </a>
                            <a href="" class="col-xs-2">
                                <img class="img-circle mCS_img_loaded" src="img/profile-pics/3.jpg" alt="">
                            </a>
                            <a href="" class="col-xs-2">
                                <img class="img-circle mCS_img_loaded" src="img/profile-pics/4.jpg" alt="">
                            </a>
                            <a href="" class="col-xs-2">
                                <img class="img-circle mCS_img_loaded" src="img/profile-pics/5.jpg" alt="">
                            </a>
                            <a href="" class="col-xs-2">
                                <img class="img-circle mCS_img_loaded" src="img/profile-pics/6.jpg" alt="">
                            </a>
                            <a href="" class="col-xs-2">
                                <img class="img-circle mCS_img_loaded" src="img/profile-pics/7.jpg" alt="">
                            </a>
                            <a href="" class="col-xs-2">
                                <img class="img-circle mCS_img_loaded" src="img/profile-pics/8.jpg" alt="">
                            </a>
                            <a href="" class="col-xs-2">
                                <img class="img-circle mCS_img_loaded" src="img/profile-pics/1.jpg" alt="">
                            </a>
                            <a href="" class="col-xs-2">
                                <img class="img-circle mCS_img_loaded" src="img/profile-pics/2.jpg" alt="">
                            </a>
                            <a href="" class="col-xs-2">
                                <img class="img-circle mCS_img_loaded" src="img/profile-pics/3.jpg" alt="">
                            </a>
                            <a href="" class="col-xs-2">
                                <img class="img-circle mCS_img_loaded" src="img/profile-pics/4.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="mCSB_2_scrollbar_vertical" class="mCSB_scrollTools mCSB_2_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" style="display: block;">
            <div class="mCSB_draggerContainer">
                <div id="mCSB_2_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; display: block; height: 582px; max-height: 699px; top: 0px;" oncontextmenu="return false;">
                    <div class="mCSB_dragger_bar" style="line-height: 50px;"></div>
                </div>
                <div class="mCSB_draggerRail"></div>
            </div>
        </div>
        <div id="mCSB_2_scrollbar_horizontal" class="mCSB_scrollTools mCSB_2_scrollbar mCS-minimal-dark mCSB_scrollTools_horizontal" style="display: none;">
            <div class="mCSB_draggerContainer">
                <div id="mCSB_2_dragger_horizontal" class="mCSB_dragger" style="position: absolute; min-width: 50px; width: 0px; left: 0px;" oncontextmenu="return false;">
                    <div class="mCSB_dragger_bar"></div>
                </div>
                <div class="mCSB_draggerRail"> </div>
            </div>
        </div>
    </div>


    <div class="pm-body">
        <mat-tab-group >
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon class="fsize-22 size-22">home</mat-icon>
                    </ng-template>
                    <div class="tab-content">
                            <div role="tabpanel" class="tab-pane animated fadeIn active">
                                <!-- Summary -->
                                <div class="pmb-block">
                                    <div class="pmbb-header">
                                        <h2><mat-icon class="size-18 margin-right-5">equalizer</mat-icon>Summary</h2>
                                    </div>
                                    <div class="pmbb-body padding-left-30">
                                        <div class="pmbb-view"  [innerHTML]="mac.notes"></div>
                                    </div>
                                </div>
                               <!-- Base Info -->
                               <div class="pmb-block">
                                    <div class="pmbb-header">
                                        <h2><mat-icon class="size-18 margin-right-5">info</mat-icon> Basic Information</h2>
                                    </div>
                                    <div class="pmbb-body padding-left-30">
                                        <div class="pmbb-view">
                                            <img [src]="mac.tableImgUrl" class="img-responsive m-b-15 pull-right wscreen" alt="mac.model" >
                                            <dl class="dl-horizontal">
                                                <dt>Maximum Range </dt>
                                                <dd><mat-icon class="size-16 margin-right-5 gray">looks</mat-icon>{{mac.max_range_km | range}}</dd>
                                            </dl>
                                            <dl class="dl-horizontal">
                                                <dt>Maximum Cruise Speed </dt>
                                                <dd><mat-icon class="size-16 margin-right-5 gray">launch</mat-icon>{{mac.cruise_speed_kmph | speed}}</dd>
                                            </dl>
                                            <dl class="dl-horizontal">
                                                <dt>Maximum Passengers</dt>
                                                <dd><mat-icon class="size-16 margin-right-5 gray">supervisor_account</mat-icon>{{mac.max_seating | number:'1.0-0'}}</dd>
                                            </dl>
                                            <dl class="dl-horizontal">
                                                <dt>Useful Load</dt>
                                                <dd><mat-icon class="size-16 margin-right-5 gray">local_shipping</mat-icon>{{mac.useful_load_kg | mtow}}</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>

                                
                                <div class="h-180" >
                                     <!--  Range, Speed and Occupants-->
                                    <div class="flex-space-between">
                                        <div class="flex-box flex-align-items margin-right-10" 
                                            matTooltip="Maximum Range" 
                                            matTooltipPosition="above" matTooltipClass="tooltip-yellow">
                                            <mat-icon class="size-16 margin-right-5">looks</mat-icon>
                                            <div class="flex-align-items" *ngIf="mac.max_range_km">
                                                <span class="size-14">{{mac.max_range_km | range}}</span>
                                            </div>
                                        </div>
                                        <div class="flex-box flex-align-items margin-right-10" 
                                            matTooltip="Maximum Cruise Speed" 
                                            matTooltipPosition="above" matTooltipClass="tooltip-yellow">
                                            <mat-icon class="size-16 margin-right-5">launch</mat-icon>
                                            <div class="flex-align-items" *ngIf="mac.cruise_speed_kmph">
                                                <span class="size-14">{{mac.cruise_speed_kmph | speed}}</span>
                                            </div>
                                        </div>
                                        <div class="flex-box flex-align-items" 
                                            matTooltip="Maximum Occupants" 
                                            matTooltipPosition="above" matTooltipClass="tooltip-yellow">
                                            <mat-icon class="size-16 margin-right-5">supervisor_account</mat-icon>
                                            <div class="flex-align-items" *ngIf="mac.max_seating">
                                                <span class="size-14">{{mac.max_seating | number:'1.0-0'}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="margin-top-5 margin-bottom-5 blue-hr">
                                    <!--  Fuel consumption, Speed and Occupants-->
                                    <div class="flex-space-between">
                                        <div class="flex-box flex-align-items margin-right-10" 
                                            matTooltip="Fuel consumption" 
                                            matTooltipPosition="above" matTooltipClass="tooltip-yellow">
                                            <mat-icon class="size-16 margin-right-5">local_gas_station</mat-icon>
                                            <div class="flex-align-items" *ngIf="mac.max_range_km">
                                                <span class="size-14">{{mac.avg_fuel_consumption_lp100km | fuelconsum}}</span>
                                            </div>
                                        </div>
                                        <div class="flex-box flex-align-items margin-right-10" 
                                            matTooltip="Maximum Cruise Altitude" 
                                            matTooltipPosition="above" matTooltipClass="tooltip-yellow">
                                            <mat-icon class="size-16 margin-right-5">vertical_align_top</mat-icon>
                                            <div class="flex-align-items" *ngIf="mac.cruise_speed_kmph">
                                                <span class="size-14">{{mac.max_cruise_altitude_m | len}}</span>
                                            </div>
                                        </div>
                                        <div class="flex-box flex-align-items" 
                                            matTooltip="Maximum Occupants" 
                                            matTooltipPosition="above" matTooltipClass="tooltip-yellow">
                                            <mat-icon class="size-16 margin-right-5">supervisor_account</mat-icon>
                                            <div class="flex-align-items" *ngIf="mac.max_seating">
                                                <span class="size-14">{{mac.max_seating | number:'1.0-0'}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="margin-top-5 margin-bottom-5 blue-hr">
                                    <!--  Speed, Fuel consumption -->
                                    <div class="flex-space-between">
                                        <div class="flex-box flex-align-items margin-right-10" 
                                            matTooltip="Maximum Cruise Speed" 
                                            matTooltipPosition="above" matTooltipClass="tooltip-yellow">
                                            <mat-icon class="size-16 margin-right-5">launch</mat-icon>
                                            <div class="flex-align-items" *ngIf="mac.cruise_speed_kmph">
                                                <span class="size-14">{{mac.cruise_speed_kmph | speed}}</span>
                                            </div>
                                        </div>
                                        <div class="flex-box flex-align-items" 
                                            matTooltip="Maximum Cruise Altitude" 
                                            matTooltipPosition="above" matTooltipClass="tooltip-yellow">
                                            <mat-icon class="size-16 margin-right-5">vertical_align_top</mat-icon>
                                            <div class="flex-align-items" *ngIf="mac.cruise_speed_kmph">
                                                <span class="size-14">{{mac.max_cruise_altitude_m | len}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="margin-top-5 margin-bottom-5 blue-hr">
                                    <!--  take_off_m, landing_m -->
                                    <div class="flex-space-between">
                                        <div class="flex-box flex-align-items margin-right-10" 
                                            matTooltip="Minimum Takeoff Runway Lenght" 
                                            matTooltipPosition="above" matTooltipClass="tooltip-yellow">
                                            <mat-icon class="size-16 margin-right-5">flight_takeoff</mat-icon>
                                            <div class="flex-align-items" *ngIf="mac.cruise_speed_kmph">
                                                <span class="size-14">{{mac.take_off_m | len}}</span>
                                            </div>
                                        </div>
                                        <div class="flex-box flex-align-items" 
                                            matTooltip="Minimum Landing Runway Lenght" 
                                            matTooltipPosition="above" matTooltipClass="tooltip-yellow">
                                            <mat-icon class="size-16 margin-right-5">flight_land</mat-icon>
                                            <div class="flex-align-items" *ngIf="mac.cruise_speed_kmph">
                                                <span class="size-14">{{mac.landing_m | len}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="margin-top-5 margin-bottom-5 blue-hr">
                                    <!--  take_off_m, landing_m -->
                                    <div class="flex-space-between">
                                        <div class="flex-box flex-align-items margin-right-10" 
                                            matTooltip="Fuel consumption" 
                                            matTooltipPosition="above" matTooltipClass="tooltip-yellow">
                                            <mat-icon class="size-16 margin-right-5">local_gas_station</mat-icon>
                                            <div class="flex-align-items" *ngIf="mac.max_range_km">
                                                <span class="size-14">{{mac.avg_fuel_consumption_lp100km | fuelconsum}}</span>
                                            </div>
                                        </div>
                                        <div class="flex-box flex-align-items" 
                                            matTooltip="Cost per flight hour" 
                                            matTooltipPosition="above" matTooltipClass="tooltip-yellow">
                                            <mat-icon class="size-16 margin-right-5">toll</mat-icon>
                                            <div class="flex-align-items" *ngIf="mac.cruise_speed_kmph">
                                                <span class="size-14">{{mac.cost_per_fh | costph}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="margin-top-5 margin-bottom-5 blue-hr">
                                </div>
                            </div>
                        
                    </div>
                </mat-tab>
                
                <mat-tab>
                    <ng-template mat-tab-label>
                    <mat-icon class="fsize-22 size-22">toys</mat-icon>
                    </ng-template>
                    <div class="tab-content">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane animated fadeIn active">
                                    <img [src]="mac.tableImgUrl" class="img-responsive m-b-15" alt="mac.model">
                                    <div class="h-180" >
                                        <!--  Range, Speed and Occupants-->
                                        <div class="flex-space-between">
                                            <div class="flex-box flex-align-items margin-right-10" 
                                                matTooltip="Maximum Range" 
                                                matTooltipPosition="above" matTooltipClass="tooltip-yellow">
                                                <mat-icon class="size-16 margin-right-5">looks</mat-icon>
                                                <div class="flex-align-items" *ngIf="mac.max_range_km">
                                                    <span class="size-14">{{mac.max_range_km | range}}</span>
                                                </div>
                                            </div>
                                            <div class="flex-box flex-align-items margin-right-10" 
                                                matTooltip="Maximum Cruise Speed" 
                                                matTooltipPosition="above" matTooltipClass="tooltip-yellow">
                                                <mat-icon class="size-16 margin-right-5">launch</mat-icon>
                                                <div class="flex-align-items" *ngIf="mac.cruise_speed_kmph">
                                                    <span class="size-14">{{mac.cruise_speed_kmph | speed}}</span>
                                                </div>
                                            </div>
                                            <div class="flex-box flex-align-items" 
                                                matTooltip="Maximum Occupants" 
                                                matTooltipPosition="above" matTooltipClass="tooltip-yellow">
                                                <mat-icon class="size-16 margin-right-5">supervisor_account</mat-icon>
                                                <div class="flex-align-items" *ngIf="mac.max_seating">
                                                    <span class="size-14">{{mac.max_seating | number:'1.0-0'}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="margin-top-5 margin-bottom-5 blue-hr">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                </mat-tab>
                  
                <mat-tab>
                    <ng-template mat-tab-label>
                    <mat-icon class="fsize-22 size-22">description</mat-icon>
                    </ng-template>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane animated fadeIn active">
                            <img [src]="mac.tableImgUrl" class="img-responsive m-b-15" alt="mac.model">
                            <div class="h-180" [innerHTML]="mac.notes"></div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
    </div>
</div>