<div id="sidenav-footer" class="mat-primary">
        <img *ngIf="hqAirport" src="{{hqAirport.countryFlagUrl}}" alt="{{hqAirport.countryName}}"
        class="img-12 margin-right-5"
        matTooltip="{{hqAirport.countryName}} ({{hqAirport.countryIso}})"
        matTooltipPosition="above" matTooltipClass="tooltip-yellow" />
    <span class="margin-right-5 margin-left-5">{{ timeHqAirport | date:'MMM dd,yyyy'}}</span>
    <i class="material-icons size-16 margin-right-5">access_time</i>
    <span class="margin-right-5">{{ timeHqAirport | date:'HH:mm:ss a'}}</span>
</div>