<h2 mat-dialog-title>{{alData.name}} Airline Slogan</h2>

<mat-dialog-content >
    <p>A slogan is a memorable motto or phrase used in a commercial context as a repetitive expression 
      of an idea or purpose, with the goal of persuading members of the public or a more defined target group. 
      The Oxford Dictionary of English defines a slogan as <i>"a short and striking or memorable phrase used in advertising"</i>.
      <a href="https://en.wikipedia.org/wiki/Slogan" target="_blanck">Wikipedia</a> </p>
      <p>
      A slogan usually has the attributes of being memorable, very concise and appealing to the audience. See
      <a href="http://www.textart.ru/database/english-advertising-slogans/airline-advertising-slogans.html" target="_blanck">Database</a> of slogans.
      </p>
    <form class="lcb-form" [formGroup]="form">
      <mat-form-field class="lcb-full-width">
          <input matInput  placeholder="Airline Slogan"  
          [formControl]="sloganFormControl"
          [errorStateMatcher]="sloganMatcher">
          <mat-error *ngIf="sloganFormControl.hasError('slogan') && !emailFormControl.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="sloganFormControl.hasError('required')"> 
              Slogan is <strong>required</strong>
            </mat-error>
      </mat-form-field>
    
    </form>
    
</mat-dialog-content>
<mat-dialog-actions align="end">
    <mat-error *ngIf="errorMessage" class="margin-right-10"> 
        {{errorMessage}}
       </mat-error>
     <mat-progress-spinner *ngIf="hasSpinner" diameter="54"
       class="dialog-spinner"
       color="primary"
       mode="indeterminate">
   </mat-progress-spinner>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button   *ngIf="!hasSpinner" mat-fab color="primary" aria-label="Airline Edit" (click)="onLoginClick()">
      <mat-icon >flight_land</mat-icon>
  </button>
</mat-dialog-actions>