<mat-toolbar color="primary" id="header" class="clearfix" >
   
  <button mat-icon-button class="pull-left" (click)="leftToggle()" *ngIf="isHandset$ | async"><mat-icon>menu</mat-icon></button>

  <div class="app-title">{{appl.title}}</div>

  <button mat-icon-button class="pull-right" (click)="registerDialogShow()" *ngIf="!isAuthenticated" matTooltip="Register"><mat-icon>person_add</mat-icon></button>
  <button mat-icon-button class="pull-right" (click)="rightToggle()" *ngIf="isHandset$ | async"><mat-icon>menu</mat-icon></button>
</mat-toolbar>

