<h2 mat-dialog-title>Create Airline</h2>
<mat-dialog-content style="width: 1000px;">
  <mat-vertical-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="frmStepOne">
      <ng-template matStepLabel>Fill airline name and code</ng-template>
      <app-step-one></app-step-one>
    </mat-step>
    <mat-step [stepControl]="frmStepTwo">
      <app-step-two></app-step-two>
    </mat-step>
    <mat-step>
      
      <ng-template matStepLabel>Done</ng-template>
      <div *ngIf="this.formService.mainForm.value" class="flex-wrap">
        <div class="key-value-block margin-right-20">
          <div class="key-name">Airline Name</div>
          <div class="key-value">{{this.formService.mainForm.value.al_name}}</div>
        </div>
        <div class="key-value-block margin-right-20">
          <div class="key-name">Airline Code</div>
          <div class="key-value">{{this.formService.mainForm.value.al_code}}</div>
        </div>
        <div class="key-value-block margin-right-20">
          <div class="key-name">Hub Airport</div>
          <div class="key-value">{{this.formService.mainForm.value.hq_airport.sname}}</div>
        </div>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <!--button mat-button (click)="stepper.reset()">Reset</button-->
        <button mat-button (click)="onSubmitClick()">Create</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
  <!--
  <div class="diagnostics">
    {{this.formService.mainForm.value | json}}
     <div *ngFor="let key of keys()">
      <span *ngIf="this.formService.mainForm[key]">
        <b>{{key}}</b>: {{this.formService.mainForm[key]}}
      </span>
    </div> 
  </div>
  -->  
</mat-dialog-content>
<mat-dialog-actions align="end">
    
    <mat-error *ngIf="errorMessage" class="margin-right-10"> 
        {{errorMessage}}
    </mat-error>
     <mat-progress-spinner *ngIf="hasSpinner" diameter="54"
       class="dialog-spinner"
       color="primary"
       mode="indeterminate">
   </mat-progress-spinner>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog.
  <button   *ngIf="!hasSpinner" mat-fab color="primary" aria-label="Submitt" (click)="onLoginClick()">
      <mat-icon >flight_land</mat-icon>
  </button>
   -->
</mat-dialog-actions>