

.mat-dialog-title {
    margin-bottom:10px;
  }

  .lcb-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .lcb-full-width {
    width: 100%;
  }

  .mat-dialog-actions{
    min-height: 80px;
  }

  