<div class="block-header">
    <h2 *ngIf="user">Dashboard</h2>
    <h2 *ngIf="!user">Welcome</h2>
    <div class="actions">
      <button *ngIf="isAdmin" mat-icon-button aria-label="Aircrafts" (click)="gotoAircraftAdmin()" >
          <mat-icon>airplanemode_active</mat-icon>
      </button>
      <button mat-icon-button aria-label="Manufacturers" (click)="gotoManufacturers()" >
        <mat-icon>location_city</mat-icon>
    </button>
      <button mat-icon-button [matMenuTriggerFor]="menuDashboard" aria-label="Menu Dashboard">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menuDashboard="matMenu" xPosition="before">
        <button mat-menu-item>Expand</button>
        <button mat-menu-item>Remove</button>
      </mat-menu>
    </div>
  </div>