#newspaper_container{
    width: 1200px;
    height: 850px;
    overflow: auto;
    display: inline-flex;
    background-color:#fff;
    margin: 2px;
}

.newspaper_page{
    width: 595px;
    height: 840px;
    overflow: auto;
    margin: 5px 15px 5px 15px;
}

.page_two{
    border-left: #ecf7f9 1px solid;
}

.newspaper_head{
    
    
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.newspaper_head_row_one{
    background-image: linear-gradient( rgba(63, 81, 181, 1), rgba(236, 238, 248, 0.6) ), url(https://common.iordanov.info/images/ams/common/newspaper-title-bkg-600-160.png);
    background-size: cover;
    color: #fff!important;
    height: 70%;
}


#newspaper_head_name h1{
font-family: "Great Vibes";
font-size: 42px;
line-height: 42px;
padding-left: 10px;
font-weight: 500;
}

.newspaper_head_row_two{
    height: 30%;
    height: 30%;
    border-top-width: 6px;
    border-top-style: double;
    border-top-color: #000;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #000;
}
.newspaper_head_row_two h3{
    margin: 6px 0px 0px 0px;
    color:rgba(0,0,0,.50);
    font-weight: 500;
    font-family: monospace;
}
.newspaper_head_row_two h3 span{
    float: right;
}

.np_article{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: normal;
}
.np_article_title{
    padding: 8px 4px 4px 4px;
}

.np_article_title h2{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    line-height: 16px;
    font-size: 16px;
    font-weight: 300;
    text-transform: none;
    text-align: center;
}

.np_article_title h2 small {
    display: block;
    margin-top: 0px;
    margin-left: 10px;
    color: #AEAEAE;
    line-height: 160%;
    font-size: 12px;
    text-transform:none;
}

.np_article .np_article_title img {
    width: 40px;
    height: 40px;
    float:left;
    margin-top: -6px;
}

.np_article{
    text-align: justify;
}

.columns_two{
    column-count: 2;
    column-gap: 10px;
    column-rule: 1px dotted lightblue;
}

.np_article p{
    margin-block-start: 5px;
    margin-block-end: 0px;
    
}

.np_article p a{
    color:rgba(0,0,0,.87);
}
.np_article img{
    max-width: 110px;
    max-height: 50px;
    float: left;
}
.short {
    background-image:  url(https://common.iordanov.info/images/ams/common/paper3optimized.jpg);
  
}

.short p {
    background: transparent;
    border: 10px solid transparent;
    border-image: url(https://common.iordanov.info/images/ams/common/border.gif);
    border-image-slice: 40;
    border-image-width: 2;
    border-image-outset: 1.25;
    border-image-repeat: stretch;
    opacity: 1;
}


.short p img{
    max-width: 100px;
    max-height: 50px;
    float: left;
}

.np_board {
    width: 100%;
    height: 85%;
    padding-top: 2px;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: normal;
    background-color: #000;
    color:#FFF;
    border-width: 6px;
    border-style: double;
    border-color:burlywood;
}
.np_board img{
    float: left;
}

.np_board h3{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    line-height: 12px;
    font-size: 12px;
    font-weight: 300;
    text-transform: none;
    text-align: left;
}

.np_board h3 small {
    display: block;
    margin-top: 0px;
    margin-left: 4px;
    color: #AEAEAE;
    line-height: 120%;
    font-size: 11px;
    text-transform:none;
}
