<div id="newspaper_container">

    <div id="page_one" class="newspaper_page">
        <mat-grid-list class="newspaper_content" cols="3" rowHeight="60px">

            <!-- HEAD -->
            <mat-grid-tile colspan="2" rowspan="2">
              <div class="newspaper_head">
                  <div class="newspaper_head_row_one">
                      <div id="newspaper_head_name">
                        <h1>AMS Reporter</h1>
                      </div>
                    </div>
                    <div class="newspaper_head_row_two" >
                    <h3>№ 1 &nbsp;<span>October 01 2018</span></h3>  
                    </div>
              </div>
            </mat-grid-tile>

            <!-- P1 R Col1 -->
            <mat-grid-tile  colspan="1" rowspan="8" >
              <div class="np_article short">
                <div class="np_article_title">
                    <div class="np_article_title">
                        <h2>Breaking News<small>News in less than 60 words</small></h2>
                      </div>
                </div>
                <p>
                  <a href="https://www.airlineenterprise.com/about" target="_blank">
                    <img src="https://www.airlineenterprise.com/images/logo_dark-web.png" alt=" Airline Enterprise">
                  </a>
                  Airline Enterprise is a game that successfully balances the real world aspects of running an airline with the
                   "fun" factor of creating a game world that is both engaging and enjoyable
                </p>
                <p>
                    <a href="https://www.airline-club.com/" target="_blank">
                      <img src="https://common.iordanov.info/images/ams/common/news_128.png" alt="Airline Club">
                    </a>
                    Airline Club is a hobby project of airline management simulation game. 
                    No restrictions and free for plaing the game has nice and confortable to play user interface.
                    Gameplay is strategic and fun. My favorite thing is that the game engine 
                    simulates <b>passenger transfer</b> logic.
                    This is the simulation logic that miss on all other airline management simulation games.
                </p>
              </div>
              
            </mat-grid-tile>

            <!-- Articles -->
            <mat-grid-tile  colspan="2" rowspan="6" >
                <div class="np_article columns_two">
                  <div class="np_article_title">
                    <h2>World Airport Database <small>I.Z.Iordanov 10/01/2018</small></h2>
                  </div>
                  <p>World Airport Database (WAD) provides info for almost every airport in the world, 
                    including airport codes, abbreviations, runway lengths and other airport details.</p>
                  <p>Building of WAD information system starts in the <u>autumn of 2016</u> and continue today. 
                    It is part of <b>Airline Management Simulator (AMS)</b> game  and is intended to serve the virtual 
                    game word needs.</p>
                    <p>Creating and maintaining this database has required and continues to require an immense amount of work.
                        An initial list of airports (23 760 records) have been retrieved from 
                        <a href="http://server.fseconomy.net/static/library/datafeed_icaodata.zip" target="_blank">FSE ICAO Data Zip Archive (CSV format)</a>.
                      Additional airports have been added from Virtual Airport Manager airport table (49 000 rec). After some checks and merging
                      final 46 483 records are identified as real world airports. </p>
                      <img src="https://common.iordanov.info/images/ams/common/runway_night.jpg" alt="runway"/>
                      <p>Currently a process of city assignement to the airports and initial airport data check is in progress. 
                      As sources for airport information <a href="https://www.wikipedia.org/" target="_blank">Wikipedia</a>, 
                      and <a href="http://ourairports.com/airports" target="_blank">OurAirports</a> are used.
                    </p>
                    <p>The progress of this process is reported on <a href="http://localhost:4200/#/public">Home</a> page. 
                      Additional information will be providied later in following publication of this paper.</p>
                    <p style="font-style:italic;font-size: 10px; "><b>Disclaimer:</b> Navigation data provided by this program  <b><font color="#400080">IS
                        *NOT* TO BE USED FOR REAL WORLD NAVIGATION</font></b>; the author of the
                        program declines the responsibility for any bad consequence caused
                        by the use of WAD. The data is<b>provided AS IT IS</b> and is intended <b><font color="#400080">to
                            be used only for flight simulation programs.</font></b></p>
                   
                </div>
            </mat-grid-tile>
            <mat-grid-tile  colspan="1" rowspan="2" style="background-image: url(https://common.iordanov.info/images/ams/common/800px-World_Airport_Database.jpg);background-size: cover;">
                <div class="np_article">

                </div>
            </mat-grid-tile>
            <!-- AMS HISTORY -->
            <mat-grid-tile  colspan="2" rowspan="4">
                <div class="np_article columns_two">
                    <div class="np_article_title ">
                      <img src="https://common.iordanov.info/images/airline/logo_1.png" alt="AS"/>
                      <h2>AMS History <small>What is AMS?</small></h2>
                    </div>
                    <p style="font-style:italic;">AMS is an abreviation of <b>Airline Management Simulator</b> 
                     - the name of a hoby project started in the beginning of autumn 2016.  
                     <img src="https://common.iordanov.info/images/ams/common/dell.jpg" alt="Dell Laptop"/>
                     An old <u>Dell Latitude</u> laptop with non functional display was turned on server 
                     for AMS database. MySQL database server was used for first 
                     implementation of database and game callculation engine.  After 6 monts in the beginning
                     of summer 2017 an initial version of the game with limited functionality was 
                     <a href="http://ams.iordanov.info" target="_blank">available online</a>. GUI was build 
                     using PHP, jQuery and Bootstrap. User was able to buy a plane and flight it manually. 
                     Generation of pax and cargo was compleatly implemented and tested, 
                     but storige place was limited and over 4 TB of pax and cargo rows exceeded the available place on the server.
                     
                    </p>
                </div>
            </mat-grid-tile>
           
            <mat-grid-tile  colspan="1" rowspan="2">
                <div class="np_board">
                  <img src="https://common.iordanov.info/images/ams/common/user_create.png" alt="Editorial Board">
                  <h3>Editorial Board
                    <small><b>Page Editor:</b>I.Z.Iordanov</small>
                    <small><b>Writers:</b>I.Z.Iordanov</small>
                    <small><b>Exec. Editor:</b>I.Z.Iordanov</small>
                  </h3>
                  
                </div>
            </mat-grid-tile>

        </mat-grid-list>
      </div>

      <div class="newspaper_page page_two">
        <mat-grid-list class="newspaper_content" cols="3" rowHeight="60px">
            <mat-grid-tile class="newspaper_title" colspan="3" rowspan="1">
              AMS Reporter
            </mat-grid-tile>
        </mat-grid-list>
      </div>

    </div>

