<form [formGroup]="step">
    
    <mat-form-field>
      <input matInput placeholder="Airline Name" 
        formControlName="al_name"
        [formControl]="alNameFormControl"  required>
        <mat-error *ngIf="alNameFormControl.invalid"><strong>{{getAlNameErrorMessage()}}</strong></mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="3 letter airline code" 
        [formControl]="alCodeFormControl"
        formControlName="al_code" required>
      <mat-error *ngIf="alCodeFormControl.invalid"><strong>{{getAlCodeErrorMessage()}}</strong></mat-error>
    </mat-form-field>
    
    <!-- " -->
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </form>