<div class="block-header">
    <h2>Aircrafts</h2>

    <div class="actions">
      <button mat-icon-button class="more-button" aria-label="Refresh" (click)="onRefreshListClick()">
        <mat-icon>refresh</mat-icon>
      </button>
      <button *ngIf="isAdmin" mat-icon-button aria-label="Aircraft"
      (click)="onAcMacClick()" > 
          <mat-icon>airplanemode_active</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menuAircrafts" aria-label="Menu Aircrafts">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menuAircrafts="matMenu" xPosition="before">
        <button mat-menu-item>Expand</button>
        <button mat-menu-item>Remove</button>
      </mat-menu>
    </div>
  </div>

  <mat-grid-list cols="12" rowHeight="130px">
      <mat-grid-tile  *ngFor="let mac of macList"
      [colspan]="colspan3Card" [rowspan]="4">
    <app-mac-list-card [mac]="mac">

    </app-mac-list-card>
    
    </mat-grid-tile>
     <!-- 
    <mat-grid-tile  *ngFor="let mfr of manufacturers"
      [colspan]="colspan3Card" [rowspan]="3">
      <mat-card class="card blog-post">
          <img [src]="mfr.logoUrl" class="img-responsive" alt="Logo">
          <mat-card-header class="card-header blue text-align-center">
              <mat-card-title>{{ mfr.mfr_name }}</mat-card-title>
              <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          
          <mat-card-content class="card-body card-padding text-align-justify o-hidden ">
              {{ mfr.mfr_notes }}
        </mat-card-content>
      </mat-card>
  </mat-grid-tile>
  -->
  </mat-grid-list>