@charset "UTF-8";

app-bwt-nav-toolbar {
  z-index: 16;
  height: 48px;
  min-height: 48px;
  display: block;
  /*box-shadow: 0 1px 4px rgba(0,0,0,.3);*/
  user-select: none;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  padding: 0 20px;

}

::ng-deep .mat-toolbar-single-row{
  max-height: 48px!important;
}

::ng-deep .pull-right {
  float: right !important;
}
::ng-deep .pull-left {
  float: left !important;
}