
<app-bwt-nav-toolbar (sideLeftToggle)="sideLeftToggle()"></app-bwt-nav-toolbar>
  
<mat-sidenav-container>
      
  <mat-sidenav #sideLeft id="sidebar" 
    class="sidebar sidenav"
    style="overflow: hidden;"
    fixedInViewport="true" fixedTopGap="48"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">

      <div class="sidebar-inner">
        <app-bwt-nav-side-profile-info ></app-bwt-nav-side-profile-info>

        <mat-nav-list class="main-menu">
          
          <app-bwt-nav-side-left-profile (click)="onProfileClick()"></app-bwt-nav-side-left-profile>
          <app-bwt-nav-list-item-left></app-bwt-nav-list-item-left>
         
        </mat-nav-list>
      
      </div>
      <app-ams-sidenav-footer></app-ams-sidenav-footer>
      <!--
      <div id="sidenav-footer" class="mat-primary">
          <span>{{ curtime | date:'MMM dd,yyyy HH:mm:ss'}}</span>
      </div>
      -->
    </mat-sidenav>
    
    <mat-sidenav-content>
        <div class="container">
          <router-outlet></router-outlet>
        </div>
        
       <!--
        <div *ngIf="!isAuthenticated" style="text-align:center">
           
            <h1> Welcome to {{ appl.title }}! </h1>
            <h2>from I. Z. Iordanov</h2>
            <img width="300" alt="Logo" src="{{appl.logoBigUrl}}">
          </div>
        
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>bwt-fe</span>
      </mat-toolbar>
    -->
      
    </mat-sidenav-content>
  </mat-sidenav-container>

