<h2 mat-dialog-title>AMS Login</h2>
<mat-dialog-content >
    <form class="lcb-form" [formGroup]="form">
      <mat-form-field class="lcb-full-width">
          <input matInput  placeholder="E-Mail"  
          [formControl]="emailFormControl"
          [errorStateMatcher]="emailMatcher">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')"> 
              Email is <strong>required</strong>
            </mat-error>
      </mat-form-field>
    
      <mat-form-field class="lcb-full-width">
          <input matInput placeholder="Password" type='password' [formControl]="passwordFormControl">
          <mat-error *ngIf="passwordFormControl.hasError('required')"> 
            Password is <strong>required</strong>
          </mat-error>
      </mat-form-field>
    </form>
    
</mat-dialog-content>
<mat-dialog-actions align="end">
    <mat-error *ngIf="errorMessage" class="margin-right-10"> 
        {{errorMessage}}
       </mat-error>
     <mat-progress-spinner *ngIf="hasSpinner" diameter="54"
       class="dialog-spinner"
       color="primary"
       mode="indeterminate">
   </mat-progress-spinner>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button   *ngIf="!hasSpinner" mat-fab color="primary" aria-label="AMS Login" (click)="onLoginClick()">
      <mat-icon >flight_land</mat-icon>
  </button>
</mat-dialog-actions>