<div class="card simple-logo-card" (click)="onClick()">
    <div class="simple-logo-card-overlay"></div>
    <img *ngIf="logo" [src]="logo" alt="logo" [ngClass]="imageClass" (load)="onImageLoad()" (error)="onImageError()">
    <div *ngIf="!logo" class="simple-logo-card-default">{{name}}</div>
    <div class="simple-logo-card-name">{{name}} <hr/><small *ngIf="notes">{{notes | truncate:215}}</small></div>
</div>
