
  <mat-card *ngIf="mfr"  class="card margin-left-15 margin-right-15">
  
  <mat-card-header class="card-header">
      
      <mat-card-title>Aircrafts</mat-card-title>
      <mat-card-subtitle *ngIf="macList" >{{macList.length | number:'1.0-0'}} aircraft models for manufacturer {{mfr.mfr_name}} registered in AMS</mat-card-subtitle>
      <mat-card-subtitle *ngIf="!macList" >No aircraft models regisered for manufacturer {{mfr.mfr_name}}</mat-card-subtitle>
      
      <mat-card-actions class="actions">
        <button mat-icon-button class="more-button" aria-label="Refresh" (click)="onRefreshListClick()">
          <mat-icon>refresh</mat-icon>
        </button>
        <button *ngIf="isAdmin" mat-icon-button aria-label="Aircrafts"> 
            <mat-icon>airplanemode_active</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menuAircrafts" aria-label="Menu Aircrafts">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menuAircrafts="matMenu" xPosition="before">
          <button mat-menu-item>Expand</button>
          <button mat-menu-item>Remove</button>
        </mat-menu>
      </mat-card-actions>
      
  </mat-card-header>

  <mat-card-content class="card-body card-padding flex-wrap flex-align-items">
    
    <app-mfr-mac-list-card *ngFor="let mac of macList"
      (onClick)="onMacClick($event)"
      [mac]="mac" >
    </app-mfr-mac-list-card>
  </mat-card-content>
  <!--
  <mat-card-footer class="text-align-center"> </mat-card-footer>
  -->
</mat-card>
