<div *ngIf="runways && runways.length>0" class="airport-widget" style="vertical-align: top;">
    <!--
    <div class="scard-header">{{runways.length| number:'1.0-0'}} Runways</div>
    -->
    <div class="flex-space-between bgm-lblue white" >
        <div class="size-14 margin-right-5 padding-left-5" style="width: 42px;">Type</div>
        <div class="size-14 margin-right-5" matTooltip="Direction" matTooltipPosition="above" matTooltipClass="tooltip-yellow" style="width: 32px;">Dir</div>
        <div class="size-14 margin-right-5" style="width: 40px;">Width</div>
        <div class="size-14 margin-right-5" style="width: 45px;">Lenght</div>
        <div class="size-14 margin-right-5">Surface </div>
    </div>
    <!--hr class="margin-top-5 margin-bottom-5 blue-hr"-->
    <div *ngFor="let rw of runways">
        <div class="flex-space-between" >
            <div class="size-14 margin-right-5" style="width: 42px;overflow: hidden;">{{rw.rtype | truncate: 10}}</div>
            <div class="size-14 margin-right-5" style="width: 32px;overflow: hidden;">{{rw.rdirection | truncate: 10}}</div>
            <div class="size-14 margin-right-5" style="width: 40px;overflow: hidden;">{{rw.rwidth_m | len}}</div>
            <div class="size-14 margin-right-5" style="width: 45px;overflow: hidden;">{{rw.rlenght_m | len}}</div>
            <div class="size-14 margin-right-5"
            matTooltip="{{rw.rsurface}}" matTooltipPosition="above" matTooltipClass="tooltip-yellow" >{{rw.rsurface | truncate:10}}</div>
            <!--
            <div class="flex-box flex-align-items" >
                <div class="margin-right-10 flex-align-items" *ngIf="rw.rdirection">
                        <img src="{{iataUrl}}" alt="IATA" class="img-14"
                        matTooltip="IATA" matTooltipPosition="above" matTooltipClass="tooltip-yellow" />
                    <span class="blue size-14">{{airport.iata}}</span>
                </div>
                <div class="flex-align-items">
                        <img src="{{icaoUrl}}" alt="ICAO" class="img-14"
                        matTooltip="ICAO" matTooltipPosition="above" matTooltipClass="tooltip-yellow" />
                    <span class="blue size-14">{{airport.icao}}</span>
                </div>
            </div>
        </div>
        -->
        
    </div>
    <mat-progress-bar mode="determinate" 
        value="{{rw.pct_of_max_req_lenght | number : '1.0-0'}}"   
        [color]="rw.rcolor" 
        [matTooltip]="rw_lenght_tooltip_text" matTooltipPosition="above" matTooltipClass="tooltip-green-sm"
        class="margin-bottom-5"></mat-progress-bar>
   
</div>
<div *ngIf="!runways || runways.length === 0" class="airport-widget">
    <div class="flex-space-between">
        <div class="size-14">No Runways</div>
    </div>
</div>