

.mat-dialog-title {
    margin-bottom:10px;
  }

  .lcb-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .lcb-full-width {
    width: 100%;
  }

  .mat-spinner {
    position: relative;
    margin-left: 50%;
    margin-right: 50%;
}
.dialog-spinner{
  height: 24px;
}
.margin-right-10{
  margin-right: 10px;
}