<div *ngIf="airport" class="airport-widget">
    <!-- Airport Name and Code -->
    <div class="flex-space-between">
        <div class="size-14">{{airport.apName | truncate: 38}}</div>
        <div class="flex-box flex-align-items" >
            <div class="margin-right-10 flex-align-items" *ngIf="airport.iata">
                    <img src="{{iataUrl}}" alt="IATA" class="img-14"
                    matTooltip="IATA" matTooltipPosition="above" matTooltipClass="tooltip-yellow" />
                <span class="blue size-14">{{airport.iata}}</span>
            </div>
            <div class="flex-align-items">
                    <img src="{{icaoUrl}}" alt="ICAO" class="img-14"
                    matTooltip="ICAO" matTooltipPosition="above" matTooltipClass="tooltip-yellow" />
                <span class="blue size-14">{{airport.icao}}</span>
            </div>
        </div>
    </div>
    <hr class="margin-top-5 margin-bottom-5 blue-hr">

    <!-- Country Region -->
    
    <div class="flex-space-between">
        <div class="size-14">
                <img src="{{airport.countryFlagUrl}}" alt="{{airport.countryName}}"
                class="img-14"
                matTooltip="{{airport.countryName}} ({{airport.countryIso}})"
                matTooltipPosition="above" matTooltipClass="tooltip-yellow" />
                <a href="{{airport.cityWikiUrl}}" target="_blank">{{airport.cityName | truncate: 18}}</a>
                , {{airport.countryName | truncate: 18}} ({{airport.countryIso}})
        </div>
        <div class="flex-box flex-align-items">
            <div class="flex-align-items">
                <i class="material-icons blue size-18 margin-right-5"  matTooltip="ICAO Country Code" matTooltipPosition="above" matTooltipClass="tooltip-yellow" >store_mall_directory</i>
                <span class="blue size-14">{{airport.countryIcao}}</span>
            </div>
           
        </div>
    </div>
    <hr class="margin-top-5 margin-bottom-5 blue-hr">

    <div class="flex-space-between">
        <div class="size-14">
            {{airport.region | truncate: 18}}, {{airport.sunRegion | truncate: 18}}
        </div>
        <div class="flex-box flex-align-items">
            <div class="flex-align-items">
                <i class="material-icons blue size-18 margin-right-5"  matTooltip="UTC" matTooltipPosition="above" matTooltipClass="tooltip-yellow" >access_time</i>
                <span class="blue size-14">{{airport.utc | number:'1.0-0'}} h</span>
            </div>
           
        </div>
    </div>
    <hr class="margin-top-5 margin-bottom-5 blue-hr">
    

    <!-- Type -->
    <div class="flex-space-between">
        <div class="flex-align-items size-14">
                <i *ngIf="airport.active" class="material-icons green size-18 margin-right-5"  matTooltip="Active" matTooltipPosition="above" matTooltipClass="tooltip-yellow" >airplanemode_active</i>
                <i *ngIf="!airport.active" class="material-icons red size-18 margin-right-5"  matTooltip="Inactive" matTooltipPosition="above" matTooltipClass="tooltip-yellow" >airplanemode_inactive</i>
            {{airport.apType | truncate: 38}}
        </div>
        <div class="flex-box flex-align-items">
            <div class="flex-align-items margin-right-10" *ngIf="airport.homeUrl">
                <a href="{{airport.homeUrl}}" target="_blank">
                    <i class="material-icons blue size-18">home</i>
                </a>
            </div>
            <div class="margin-right-10 flex-align-items" *ngIf="airport.wikiUrl">
                <a href="{{airport.wikiUrl}}" target="_blank">
                    <img src="{{wikiUrl}}" alt="Wikipedia" class="img-14"
                    matTooltip="Wikipedia Link" matTooltipPosition="above" matTooltipClass="tooltip-yellow" />
                </a>
            </div>
            <div class="flex-align-items">
                <a href="http://ourairports.com/airports/{{airport.icao}}/pilot-info.html#general" target="_blank">
                    <img src="{{ourApUrl}}" alt="Our Airports" class="img-14"
                    matTooltip="Our Airports Link" matTooltipPosition="above" matTooltipClass="tooltip-yellow" />
                </a>
            </div>
            
        </div>
    </div>
    <hr class="margin-top-5 margin-bottom-5 blue-hr">

    <!-- Runway and MTOW -->
    <div class="flex-space-between">
            <div class="flex-box flex-align-items size-14">
                <i class="material-icons size-18 margin-right-5"  matTooltip="Maximum runway lenght" matTooltipPosition="above" matTooltipClass="tooltip-yellow" >all_inclusive</i>
                {{airport.rwLenghtMaxM | len }}
            </div>
            <div class="flex-box flex-align-items">
                <i class="material-icons size-18 margin-right-5"  matTooltip="Maximum MTOW" matTooltipPosition="above" matTooltipClass="tooltip-yellow" >fitness_center</i>
                {{airport.rwMtowMaxKg | mtow}}
            </div>
        </div>
        <hr class="margin-top-5 margin-bottom-5 blue-hr">
</div>