<div class="lnav_profile_info">
    <div class="lnav_profile_info_content" fxlayout="column" 
        [style.height.px]="heightPx" 
        [style.min-height.px]="minHeight"
        [style.max-height.px]="maxHeight" 
        [style.padding-top.px]="paddingTop"
      [style.padding-bottom.px]="paddingBottom">
      <div *ngIf="snavLeftWidth > 6" class="fc-center padding-bottom-5">{{airlineName | truncate:29}}</div>
      <div *ngIf="snavLeftWidth > 6" class="fc-center size-12">{{slogan | truncate:38}}</div>
      <div [ngClass]="snavLeftWidth > 6?'avatar-container-wide':'avatar-container'">
        <img class="avatar" [ngClass]="snavLeftWidth > 6?'avatar-wide':'avatar-tall'" src="{{avatarImageUrl}}">
      </div>

    </div>
  </div>