<div *ngIf="airline" class="airline-widget" style="vertical-align: top;">
        <!--  Name and Code -->
       <div class="flex-space-between">
         <div class="size-14">{{airline.name | truncate: 38}}</div>
         <div class="flex-box flex-align-items" >
             <div class="margin-right-10 flex-align-items" *ngIf="airline.code">
                     <img src="{{icaoUrl}}" alt="IATA" class="img-14"
                     matTooltip="ICAO" matTooltipPosition="above" matTooltipClass="tooltip-yellow" />
                 <span class="blue size-14">{{airline.code}}</span>
             </div>
         </div>
       </div>
       <hr class="margin-top-5 margin-bottom-5 blue-hr">

       <!-- Country  -->

       <div class="flex-space-between" *ngIf="hqAirport">
         <div class="size-14" *ngIf="hqAirport">
                 <img src="{{hqAirport.countryFlagUrl}}" alt="{{hqAirport.countryName}}"
                 class="img-14"
                 matTooltip="{{hqAirport.countryName}} ({{hqAirport.countryIso}})"
                 matTooltipPosition="above" matTooltipClass="tooltip-yellow" />
                 <a href="{{hqAirport.cityWikiUrl}}" target="_blank">{{hqAirport.cityName | truncate: 18}}</a>
                 , {{hqAirport.countryName | truncate: 18}} ({{hqAirport.countryIso}})
         </div>
         <div class="flex-box flex-align-items">
             <div class="flex-align-items">
                 <i class="material-icons blue size-18 margin-right-5"  matTooltip="ICAO Country Code" matTooltipPosition="above" matTooltipClass="tooltip-yellow" >store_mall_directory</i>
                 <span class="blue size-14">{{hqAirport.countryIcao}}</span>
             </div>
         </div>
       </div>
       <hr class="margin-top-5 margin-bottom-5 blue-hr" *ngIf="hqAirport">
       <!-- REGION -->
       <div class="flex-space-between" *ngIf="hqAirport">
         <div class="size-14">
             {{hqAirport.region | truncate: 18}}, {{hqAirport.sunRegion | truncate: 18}}
         </div>
         <div class="flex-box flex-align-items">
             <div class="flex-align-items">
                 <i class="material-icons blue size-18 margin-right-5"  matTooltip="UTC" matTooltipPosition="above" matTooltipClass="tooltip-yellow" >access_time</i>
                 <span class="blue size-14">{{hqAirport.utc | number:'1.0-0'}} h</span>
             </div>
           
         </div>
       </div>
       <hr class="margin-top-5 margin-bottom-5 blue-hr" *ngIf="hqAirport">

       <!-- HQ Airport -->
       <app-ap-info-line [airport]="hqAirport"></app-ap-info-line>
       <hr class="margin-top-5 margin-bottom-5 blue-hr" *ngIf="hqAirport">
        <!--  ADate -->
        <div class="flex-space-between" *ngIf="airline.created">
           <div class="size-14">Created</div>
           <div class="flex-box flex-align-items" >
               <div class="margin-right-10 flex-align-items">
                   <i class="material-icons size-14 margin-right-5">calendar_today</i>
                   <span class="size-14">{{airline.created.date | date:'MMM d, y'}}</span>
               </div>
           </div>
         </div>
       <!--
       <div class="flex-space-between" *ngIf="hqAirport">
         <div class="flex-box flex-align-items">
             <i class="material-icons blue size-18 margin-right-5"  matTooltip="Headquarter Airport" matTooltipPosition="above" matTooltipClass="tooltip-yellow" >airplanemode_active</i>
             <span class="blue size-14">{{hqAirport.apName | truncate: 18}}, {{hqAirport.iata | truncate: 18}}</span>
         </div>
         <div class="flex-box flex-align-items">
             <div class="flex-align-items">
                 <i class="material-icons blue size-18 margin-right-5"  matTooltip="UTC" matTooltipPosition="above" matTooltipClass="tooltip-yellow" >access_time</i>
                 <span class="blue size-14">{{hqAirport.utc | number:'1.0-0'}} h</span>
             </div>
           
         </div>
       </div>
       -->
       <hr class="margin-top-5 margin-bottom-5 blue-hr" *ngIf="hqAirport">
     </div>