
/*
 * Font Weight
 */
 .f-300 { font-weight: 300 !important; }
 .f-400 { font-weight: 400 !important; }
 .f-500 { font-weight: 500 !important; }
 .f-700 { font-weight: 700 !important; }
 
 /*
  * Position Classes
  */
 .p-relative { position: relative !important; }
 .p-absolute { position: absolute !important; }
 .p-fixed { position: fixed !important; }
 .p-static { position: static !important; }
 
 /*
  * Overflow
  */
 .o-hidden { overflow: hidden !important; }
 .o-visible { overflow: visible !important; }
 .o-auto { overflow: auto !important; }
 
 /*
  * Display
  */
 .d-block { display: block !important; }
 .di-block { display: inline-block !important; } 
 
 /*
  * Background Colors
  */
 .bg-black-trp { background-color: rgba(0,0,0,0.1) !important; }
 
 /*
  * Border
  */
 .b-0 { border: 0 !important; }
 
 /*
  * width
  */
 .w-100 { width: 100% !important; } 
 
 /*
  * Border Radius 
  */ 
 .brd-2 { border-radius: 2px; }
 
 /////////////////
// FORMAT TEXT //
/////////////////
.ellipsis{
    @include ellipsis(100%);
}
.text-align-center{
    text-align: center;
}
.text-align-justify{
    text-align: justify;
}
.bold{
    font-weight: 800!important;
}
.semi-bold{
    font-weight: 600!important;
}
.regular{
    font-weight: 400!important;
}
.thin{
    font-weight: 300!important;
}
.fsize{
    &-22{
        font-size: $f-22px!important;
    }
    &-20{
        font-size: $f-20px!important;
    }
    &-18{
        font-size: $f-18px!important;
    }
    &-16{
        font-size: $f-16px!important;
    }
    &-14{
        font-size: $f-14px!important;
    }
    &-12{
        font-size: $f-12px!important;
    }
    &-10{
        font-size: $f-10px!important;
    }
    &-8{
        font-size: $f-8px!important;
    }
}

.mat-icon {
        font-size: inherit;
        /*margin-top: -0.6%;*/
        display: inline-table !important;

        &:hover{
            color:#000!important;
        }
    &.size{
        &-22{
            height: 22px; 
            width: 22px;
        }
        &-20{
            /*font-size: $f-20px;*/
            height: 20px; 
            width: 20px;
        }
        &-18{
            height: 18px; 
            width: 18px;
        }
        &-16{
            height: 16px; 
            width: 16px;
        }
        &-14{
            height: 14px; 
            width: 14px;
        }
        &-13{
            height: 13px; 
            width: 13px;
        }
        &-12{
            height: 12px; 
            width: 12px;
        }
        &-10{
            height: 10px; 
            width: 10px;
        }
        &-8{
            font-size: $f-8px;
            height: 8px; 
            width: 8px;
        }
    }
}

.h{
    &-120{
        min-height: 120px;
    }
    
    &-160{
        min-height: 160px;
    }
    &-140{
        min-height: 140px;
    }
    &-180{
        min-height: 180px;
    }
}

///////////////////////
// QUICK FLEX FORMAT //
///////////////////////
.flex{
    display: flex!important;
    &-col{
        display: flex;
        flex-direction: column;
    }
    &-center{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    &-middle{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-wrap{
        @extend .flex;
        flex-wrap: wrap;
    }
    &-end{
        display: flex;
        justify-content: flex-end;
    }
    &-start{
        display: flex;
        justify-content: flex-start;
    }
    &-align-items{
        display: flex;
        align-items: center;
    }
    &-space-between{
        @extend .flex;
        justify-content: space-between;
    }
}

.center-center{
    @extend .flex-align-items;
    @extend .flex-center;
}


////////////////////////////
// QUICK MARGIN - PADDING //
////////////////////////////
.margin{
    &-top{
        &-140{margin-top:140px;}        
        &-120{margin-top:120px;}
        &-100{margin-top:100px;}
        &-40{margin-top:40px;}
        &-30{margin-top:30px;}
        &-20{margin-top:20px;}
        &-15{margin-top:15px;}
        &-10{margin-top:10px;}
        &-7{margin-top:7px;}        
        &-5{margin-top:5px;}
        &-3{margin-top:3px!important;}
        &-2{margin-top:2px!important;}
        &-0{margin-top:0px!important;}
    }//top
    &-bottom{
        &-40{margin-bottom:40px;}
        &-30{margin-bottom:30px;}
        &-20{margin-bottom:20px;}
        &-15{margin-bottom:15px;}
        &-10{margin-bottom:10px!important;}
        &-5{margin-bottom:5px;}
        &-0{margin-bottom:0px!important;}
    }//bottom
    &-right{
        &-50{margin-right:50px;}
        &-40{margin-right:40px;}
        &-30{margin-right:30px;}
        &-20{ margin-right:20px;}
        &-15{margin-right:15px;}
        &-10{margin-right:10px;}
        &-5{margin-right:5px;}
        &-neg{
            &-50{margin-right:-50px;}
            &-40{margin-right:-40px;}
            &-30{margin-right:-30px;}
            &-20{ margin-right:-20px;}
            &-15{margin-right:-15px;}
            &-10{margin-right:-10px;}
            &-5{margin-right:-5px;}
        }
    }//right
    &-left{
        &-40{margin-left: 40px;}
        &-30{margin-left: 30px;}
        &-20{margin-left: 20px;}
        &-15{margin-left:15px;}
        &-10{margin-left: 10px;}
         &-5{margin-left: 5px;}
    }//left
}

.padding{
    &-top{
        &-40{padding-top: 40px;}
        &-30{padding-top: 30px;}
        &-20{padding-top: 20px;}
        &-15{padding-top:15px;}
        &-10{padding-top: 10px;}
        &-7{padding-top: 7px;}
        &-5{padding-top: 5px;}
    }//top
    &-bottom{
        &-140{padding-bottom:140px;}
        &-80{padding-bottom: 80px;}
        &-50{padding-bottom: 50px;}
        &-40{padding-bottom: 40px;}
        &-30{padding-bottom: 30px;}
        &-20{padding-bottom: 20px;}
        &-15{padding-bottom:15px;}
        &-10{padding-bottom: 10px;}
         &-5{padding-bottom: 5px;}
    }//bottom
    &-right{
        &-40{padding-right: 40px;}
        &-30{padding-right: 30px;}
        &-20{padding-right: 20px;}
        &-15{padding-right:15px;}
        &-10{padding-right: 10px;}
         &-5{padding-right: 5px;}
    }//right
    &-left{
        &-40{padding-left: 40px;}
        &-30{padding-left: 30px;}
        &-20{padding-left: 20px;}
        &-15{padding-left:15px;}
        &-10{padding-left: 10px;}
        &-5{padding-left: 5px;}
        &-0{padding-left: 0px !important;}
    }//left
}
.margin-0{
    margin:0px!important;
}
.margin-5{
    margin:5px;
}
.padding-0{
    padding:0px!important;
}
.padding-5{
    padding:5px;
}
.padding-10{
    padding:10px;
}
.padding-15{
    padding:15px;
}
.padding-20{
    padding:20px;
}
.padding-40{
    padding:40px;
}


/////////////////////////////
// BACKGROUND MAIN COLORS. //
/////////////////////////////
 
.orange-background{
    background:$col_orange;
}
.blue-background{
    background:$blue-main;
}
.yellow-background{
    background:$col_yellow!important;
}
.light-blue-background{
    background:$light-blue;
}
.green-background{
    background: $green-success;
}
.orange-background{
    background:$col_orange;
}
.gray-background{
    background:$page-backdrop!important;
}
.dark-gray-background{
    background:$col_gray_1!important;
}
.white-background{
    background:#ffffff!important;    
}


///////////////////////
// TEXT MAIN COLORS. //
///////////////////////
.orange{
    color:$col_orange!important;
}
.blue{
    color:$blue-main!important;
}
.blue-light{
    color:$light-blue!important;
}
.yellow{
    color:$col_yellow!important;
}
.white{
    color:white!important;
}
.red{
    color: $col_red;
}
.gray{
    color:$col_gray_4;
}
.gray-dark{
    color:$col_gray_8;
}
.green{
   color:$col_green;
}
.pink {
    color:$pink;
}

/*****************
Image 
***************/
.img {
    &-avatar {
        &-40 {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        }
        &-20 {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            }
    }
}
