
//////////
// TEXT //
//////////
@mixin text($size:14px, $color: $font, $weight: 500) {
    font-size: $size;
    color: $color;
    font-weight: $weight;
}

@mixin ellipsis($width){
    width: $width;
    white-space: nowrap; 
    text-overflow: ellipsis; 
    overflow: hidden;
}

@mixin placeholder($color){
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $color;
    }
    &::-moz-placeholder { /* Firefox 19+ */
        color: $color;
    }
    &:-ms-input-placeholder { /* IE 10+ */
        color: $color;
    }
    &:-moz-placeholder { /* Firefox 18- */
        color: $color;
    }
}

//////////
// FLEX //
//////////
@mixin flex-space-between {
    display: flex;
    justify-content: space-between;
}

@mixin flex-end{
    @extend .flex ;
    justify-content: flex-end;
}

@mixin flex-start{
    display: flex;
    justify-content: flex-start;
}

@mixin flex-wrap{
    display: flex;
    flex-wrap: wrap;
}

@mixin flex-center(){
    justify-content: center;
    align-items: center;
    display: flex;
}

//////////////////
// WIDTH HEIGHT //
//////////////////
@mixin size($width: auto, $height: auto){
    width: $width;
    height: $height;
}

@mixin square($size: auto){
    width: $size;
    height: $size;
}
@mixin calc-min-height($width, $height){
    min-height: -o-calc(#{$width} - #{$height}); /* opera */
    min-height: -webkit-calc(#{$width} - #{$height}); /* google, safari */
    min-height: -moz-calc(#{$width} - #{$height}); /* firefox */
    min-height: calc(#{$width} - #{$height}); /* firefox */
}

@mixin calc-height($height, $amountToRemove){
    height: -o-calc(#{$height} - #{$amountToRemove}); /* opera */
    height: -webkit-calc(#{$height} - #{$amountToRemove}); /* google, safari */
    height: -moz-calc(#{$height} - #{$amountToRemove}); /* firefox */
    height: calc(#{$height} - #{$amountToRemove}); /* firefox */
}

@mixin calc-width($width, $amountToRemove){
    width: -o-calc(#{$width} - #{$amountToRemove}); /* opera */
    width: -webkit-calc(#{$width} - #{$amountToRemove}); /* google, safari */
    width: -moz-calc(#{$width} - #{$amountToRemove}); /* firefox */
    width: calc(#{$width} - #{$amountToRemove}); /* firefox */
}
/////////////
// POSTION //
/////////////
@mixin placement($position,$top:inherit, $right: inherit, $bottom:inherit, $left:inherit){
    position: $position;
    top:$top;
    right: $right;
    bottom: $bottom;
    left: $left;
}


/////////////////////////////////
// ADD AN ICON BEFORE OR AFTER //
/////////////////////////////////// 
// Example - @include icon("\E80E")
@mixin icon($icon){
    &{
     font-family: 'Material Icons';
     content: $icon;
    }
}

// Example - @include icon-after("\E80E")
@mixin icon-after($icon){
    &:after{
        font-family: 'Material Icons';
        content: $icon;
    }
}

// Example - @include icon-before("\E80E")
@mixin icon-before($icon){
    &:before{
        font-family: 'Material Icons';
        content: $icon;
    }
}

//////////////////
// STYLE A LINK //
//////////////////
@mixin linx($link, $hover, $active){
    color: $link;
    &:hover{
         color: $hover;
    }
    &:active{
        color: $active;
    } 
}


/*
 * Background Repeat + Position
 */

@mixin bg-option($repeat: no-repeat, $position: center){
    background-repeat: $repeat;
    background-position: $position;
}

/*
 * CSS Animations based on animate.css
 */

@mixin animated($name, $duration){
    -webkit-animation-name: $name;
    animation-name: $name;
    -webkit-animation-duration: $duration;
    animation-duration: $duration;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

/*
 * CSS Transform - Scale and Rotate
 */
@mixin scale-rotate($scale, $rotate){
    -webkit-transform: scale($scale) rotate($rotate);
    -ms-transform: scale($scale) rotate($rotate);
    -o-transform: scale($scale) rotate($rotate);
    transform: scale($scale) rotate($rotate);
}

/*
 * User Select
 */
@mixin user-select($val){
    -webkit-touch-callout:  $val;
    -webkit-user-select:    $val;
    -khtml-user-select:     $val;
    -moz-user-select:       $val;
    -ms-user-select:        $val;
    user-select:            $val;
}

/*
 * Background Image Cover
 */
@mixin bg-cover($image){
    background-image: url($image);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

@mixin bg-cover-inline(){
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

/*
 * Tab Focus
 */
@mixin tab-focus(){
    outline: none !important;
}

/*
 * Pop-in Hover effects
 */
@mixin hover-pop($background: #{"rgba(0,0,0,0.5)"}, $radius: 0, $duration: 250ms, $zindex: 0){
    @media (min-width: $screen-sm-min) {
        position: relative;

        &:before {
            left: 0;
            top: 0;
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
           
            @include transition(all);
            @include transition-duration($duration);
            @include backface-visibility(hidden);
            background-color: $background;
            z-index: $zindex;
            border-radius: $radius;
            @include opacity(0);
        }

        &:hover:before,
        &.open:before {
            /*@include scale3d(1,1,1);*/
            @include opacity(1);
        }
    }
}

/*
 *  Override Bootstrap Button Mixin
 */
@mixin button-variant($color, $background, $border){
    color: $color;
    background-color: $background;
    border-color: $border;

    &:hover,
    &:focus,
    &.focus,
    &:active,
    .open > .dropdown-toggle {
        color: $color;
        background-color: $background;
        border-color: transparent;

        &:hover,
        &:focus,
        &.focus {
            color: $color;
            background-color: $background;
            border-color: transparent
        }
    }
    &:active,
    &.active,
    .open > .dropdown-toggle {
        background-image: none;
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &,
        &:hover,
        &:focus,
        &.focus,
        &:active {
            background-color: $background;
            border-color: $border;
        }
    }

    .badge {
        color: $background;
        background-color: $color;
    }
}


// Transformations
@mixin scale($ratio:default){
    -webkit-transform: scale($ratio);
        -ms-transform: scale($ratio); // IE9 only
         -o-transform: scale($ratio);
            transform: scale($ratio);
  }
  @mixin scale($ratioX, $ratioY:default){
    -webkit-transform: scale($ratioX, $ratioY);
        -ms-transform: scale($ratioX, $ratioY); // IE9 only
         -o-transform: scale($ratioX, $ratioY);
            transform: scale($ratioX, $ratioY);
  }
  @mixin scaleX($ratio){
    -webkit-transform: scaleX($ratio);
        -ms-transform: scaleX($ratio); // IE9 only
         -o-transform: scaleX($ratio);
            transform: scaleX($ratio);
  }
  @mixin scaleY($ratio){
    -webkit-transform: scaleY($ratio);
        -ms-transform: scaleY($ratio); // IE9 only
         -o-transform: scaleY($ratio);
            transform: scaleY($ratio);
  }
  @mixin skew($x, $y){
    -webkit-transform: skewX($x) skewY($y);
        -ms-transform: skewX($x) skewY($y); // See https://github.com/twbs/bootstrap/issues/4885; IE9+
         -o-transform: skewX($x) skewY($y);
            transform: skewX($x) skewY($y);
  }
  @mixin translate($x, $y){
    -webkit-transform: translate($x, $y);
        -ms-transform: translate($x, $y); // IE9 only
         -o-transform: translate($x, $y);
            transform: translate($x, $y);
  }
  @mixin translate3d($x, $y, $z){
    -webkit-transform: translate3d($x, $y, $z);
            transform: translate3d($x, $y, $z);
  }
  @mixin rotate($degrees){
    -webkit-transform: rotate($degrees);
        -ms-transform: rotate($degrees); // IE9 only
         -o-transform: rotate($degrees);
            transform: rotate($degrees);
  }
  @mixin rotateX($degrees){
    -webkit-transform: rotateX($degrees);
        -ms-transform: rotateX($degrees); // IE9 only
         -o-transform: rotateX($degrees);
            transform: rotateX($degrees);
  }
  @mixin rotateY($degrees){
    -webkit-transform: rotateY($degrees);
        -ms-transform: rotateY($degrees); // IE9 only
         -o-transform: rotateY($degrees);
            transform: rotateY($degrees);
  }
  @mixin perspective($perspective){
    -webkit-perspective: $perspective;
       -moz-perspective: $perspective;
            perspective: $perspective;
  }
  @mixin perspective-origin($perspective){
    -webkit-perspective-origin: $perspective;
       -moz-perspective-origin: $perspective;
            perspective-origin: $perspective;
  }
  @mixin transform-origin($origin){
    -webkit-transform-origin: $origin;
       -moz-transform-origin: $origin;
        -ms-transform-origin: $origin; // IE9 only
            transform-origin: $origin;
  }
  

// Transitions

@mixin transition($transition){
    -webkit-transition: $transition;
         -o-transition: $transition;
            transition: $transition;
  }
  @mixin transition-property($transition-property){
    -webkit-transition-property: $transition-property;
            transition-property: $transition-property;
  }
  @mixin transition-delay($transition-delay){
    -webkit-transition-delay: $transition-delay;
            transition-delay: $transition-delay;
  }
  @mixin transition-duration($transition-duration){
    -webkit-transition-duration: $transition-duration;
            transition-duration: $transition-duration;
  }
  @mixin transition-timing-function($timing-function){
    -webkit-transition-timing-function: $timing-function;
            transition-timing-function: $timing-function;
  }
  @mixin transition-transform($transition){
    -webkit-transition: -webkit-transform $transition;
       -moz-transition: -moz-transform $transition;
         -o-transition: -o-transform $transition;
            transition: transform $transition;
  }

// Opacity

@mixin opacity($opacity){
    opacity: $opacity;
    // IE8 filter
    $opacity-ie: ($opacity * 100);
    filter: #{"alpha(opacity=${opacity-ie})"};
  }
  
  // Backface visibility
// Prevent browsers from flickering when using CSS 3D transforms.
// Default value is `visible`, but can be changed to `hidden`

@mixin backface-visibility($visibility){
    -webkit-backface-visibility: $visibility;
       -moz-backface-visibility: $visibility;
            backface-visibility: $visibility;
  }

// Clearfix
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
//
// Source: http://nicolasgallagher.com/micro-clearfix-hack/

@mixin clearfix(){
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

// Text overflow
// Requires inline-block or block for proper styling

@mixin text-overflow(){
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  // Image Mixins
// - Responsive image
// - Retina image


// Responsive image
//
// Keep images from scaling beyond the width of their parents.
@mixin img-responsive($display: block){
    display: $display;
    max-width: 100%; // Part 1: Set a maximum relative to the parent
    height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
  }

// Gradients


    // Horizontal gradient, from left to right
    //
    // Creates two color stops, start and end, by specifying a color and position for each color stop.
    // Color stops are not available in IE9 and below.
    @mixin gradient-horizontal($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%){
      background-image: -webkit-linear-gradient(left, $start-color $start-percent, $end-color $end-percent); // Safari 5.1-6, Chrome 10+
      background-image: -o-linear-gradient(left, $start-color $start-percent, $end-color $end-percent); // Opera 12
      background-image: linear-gradient(to right, $start-color $start-percent, $end-color $end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
      background-repeat: repeat-x;
      //filter: e(%("progid:DXImageTransform.Microsoft@include gradient(startColorstr='%d', endColorstr='%d', GradientType=1)",argb($start-color),argb($end-color))); // IE9 and down
    }
  
    // Vertical gradient, from top to bottom
    //
    // Creates two color stops, start and end, by specifying a color and position for each color stop.
    // Color stops are not available in IE9 and below.
    @mixin gradient-vertical($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%){
      background-image: -webkit-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);  // Safari 5.1-6, Chrome 10+
      background-image: -o-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);  // Opera 12
      background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
      background-repeat: repeat-x;
      //filter: e(%("progid:DXImageTransform.Microsoft@include gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",argb($start-color),argb($end-color))); // IE9 and down
    }
  
    @mixin gradient-directional($start-color: #555, $end-color: #333, $deg: 45deg){
      background-repeat: repeat-x;
      background-image: -webkit-linear-gradient($deg, $start-color, $end-color); // Safari 5.1-6, Chrome 10+
      background-image: -o-linear-gradient($deg, $start-color, $end-color); // Opera 12
      background-image: linear-gradient($deg, $start-color, $end-color); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
    }
    @mixin gradient-horizontal-three-colors($start-color: #00b3ee, $mid-color: #7a43b6, $color-stop: 50%, $end-color: #c3325f){
      background-image: -webkit-linear-gradient(left, $start-color, $mid-color $color-stop, $end-color);
      background-image: -o-linear-gradient(left, $start-color, $mid-color $color-stop, $end-color);
      background-image: linear-gradient(to right, $start-color, $mid-color $color-stop, $end-color);
      background-repeat: no-repeat;
      //filter: e(%("progid:DXImageTransform.Microsoft@include gradient(startColorstr='%d', endColorstr='%d', GradientType=1)",argb($start-color),argb($end-color))); // IE9 and down, gets no color-stop at all for proper fallback
    }
    @mixin gradient-vertical-three-colors($start-color: #00b3ee, $mid-color: #7a43b6, $color-stop: 50%, $end-color: #c3325f){
      background-image: -webkit-linear-gradient($start-color, $mid-color $color-stop, $end-color);
      background-image: -o-linear-gradient($start-color, $mid-color $color-stop, $end-color);
      background-image: linear-gradient($start-color, $mid-color $color-stop, $end-color);
      background-repeat: no-repeat;
      //filter: e(%("progid:DXImageTransform.Microsoft@include gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",argb($start-color),argb($end-color))); // IE9 and down, gets no color-stop at all for proper fallback
    }

    @mixin gradient-radial($inner-color: #555, $outer-color: #333){
      background-image: -webkit-radial-gradient(circle, $inner-color, $outer-color);
      background-image: radial-gradient(circle, $inner-color, $outer-color);
      background-repeat: no-repeat;
    }
    @mixin gradient-striped($color: rgba(255,255,255,.15), $angle: 45deg){
      background-image: -webkit-linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
      background-image: -o-linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
      background-image: linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
    }
  

    // Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant($color, $background, $border){
    color: $color;
    background-color: $background;
    border-color: $border;
  
    &:focus,
    &.focus {
      color: $color;
      background-color: darken($background, 10%);
          border-color: darken($border, 25%);
    }
    &:hover {
      color: $color;
      background-color: darken($background, 10%);
          border-color: darken($border, 12%);
    }
    &:active,
    &.active,
    .open > .dropdown-toggle {
      color: $color;
      background-color: darken($background, 10%);
          border-color: darken($border, 12%);
  
      &:hover,
      &:focus,
      &.focus {
        color: $color;
        background-color: darken($background, 17%);
            border-color: darken($border, 25%);
      }
    }
    &:active,
    &.active,
    .open > .dropdown-toggle {
      background-image: none;
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
      &,
      &:hover,
      &:focus,
      &.focus,
      &:active,
      &.active {
        background-color: $background;
            border-color: $border;
      }
    }
  
    .badge {
      color: $background;
      background-color: $color;
    }
  }
  
  // Button sizes
  @mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius){
    padding: $padding-vertical $padding-horizontal;
    font-size: $font-size;
    line-height: $line-height;
    border-radius: $border-radius;
  }

  // Alerts

@mixin alert-variant($background, $border, $text-color){
  background-color: $background;
  border-color: $border;
  color: $text-color;

  hr {
    border-top-color: darken($border, 5%);
  }
  .alert-link {
    color: darken($text-color, 10%);
  }
}


  
  
  