/*
 * Font Icon Family
 */
 $font-icon-md:              'Material-Design-Iconic-Font';

 /*
  * Grid System
  */
 $container-tablet:                      100%;
 $container-desktop:                     100%;
 $first-break:1862px;
$second-break:1397px;
$third-break:1120px;
 
 /* Typography + Scaffolding + Links */
 $body-bg:                   #edecec;
 $text-color:                #5E5E5E;
 $font-family-sans-serif:    roboto;
 $font-size-base:            13px;
 $link-hover-decoration:     none;
 $headings-color:			#000000;
 
 /* Border Radius */
 $border-radius-base:        2px;
 $border-radius-large:       4px;
 $border-radius-small:       2px;
 
 /* Tabs */
 $nav-tabs-border-color:                     #fff;
 $nav-tabs-active-link-hover-border-color:   #fff;
 $nav-tabs-active-link-hover-bg:             transparent;
 
 /* Form */
 $input-border:              #e0e0e0;
 $input-color:               #000000;
 $input-border-radius:       0;
 $input-border-radius-large: 0px;
 $input-height-large:        40px;
 $input-height-base:         35px;
 $input-height-small:        30px;
 $input-border-focus:        #b4b4b4;
 
 /* Table */
 $table-bg:                      #fff;
 $table-border-color:            #f0f0f0;
 $table-cell-padding:            10px;
 $table-condensed-cell-padding:  7px;
 $table-bg-accent:               #f4f4f4;
 $table-bg-active:               #FFFCBE;
 
 /*
  * Input Group
  */
 $input-group-addon-bg: transparent;
 $input-group-addon-border-color: transparent;
 
 /*
  * Material Colors
  */
  $m-white:                  #ffffff;
  $m-black:                  #000000;
  $m-blue:                   #2196F3;
  $m-red:                    #F44336;
  $m-purple:                 #9C27B0;
  $m-deeppurple:             #673AB7;
  $m-lightblue:              #03A9F4;
  $m-cyan:                   #00BCD4;
  $m-teal:                   #009688;
  $m-green:                  #4CAF50;
  $m-lightgreen:             #8BC34A;
  $m-lime:                   #CDDC39;
  $m-yellow:                 #FFEB3B;
  $m-amber:                  #FFC107;
  $m-orange:                 #FF9800;
  $m-deeporange:             #FF5722;
  $m-gray:                   #9E9E9E;
  $m-bluegray:               #607D8B;
  $m-indigo:                 #3F51B5;
  $m-pink:                   #E91E63;
  $m-brown:                  #795548;
  
//////////
// BLUE //
//////////
$blue-main: #005F9E; //rgba(0, 95, 158, 1)
$blue-dark: #00437B;
$menu-background: #003D5B;
$blue-black: darken( $blue-dark, 10% );
// light blue
$light-blue: #009AD9;
$light-blue-light: lighten($light-blue, 10%);
  
 /*
  * Pagination
  */
 $pagination-bg:                 #E2E2E2;
 $pagination-border:             #fff;
 $pagination-color:              #7E7E7E;
 $pagination-active-bg:          $m-cyan;
 $pagination-active-border:      $pagination-border;
 $pagination-disabled-bg:        #E2E2E2;
 $pagination-disabled-border:    $pagination-border;
 $pagination-hover-color:        #333;
 $pagination-hover-bg:           #d7d7d7;
 $pagination-hover-border:       $pagination-border;
 $pager-border-radius:           5px;
 
 /*
  * Popover
  */
 $popover-fallback-border-color: transparent;
 $popover-border-color:          transparent;
 
 /*
  * Dropdown
  */
 $dropdown-fallback-border:      transparent;
 $dropdown-border:               transparent;
 $dropdown-divider-bg:           '';
 $dropdown-link-hover-bg:        rgba(0,0,0,0.075);
 $dropdown-link-color:           #333;
 $dropdown-link-hover-color:     #333;
 $dropdown-link-disabled-color:  #e4e4e4;
 $dropdown-divider-bg:           rgba(0,0,0,0.08);
 $dropdown-link-active-color:    #333;
 $dropdown-link-active-bg:       rgba(0, 0, 0, 0.075);
 $zindex-dropdown:               9;
 $dropdown-shadow:               0 2px 10px rgba(0, 0, 0, 0.2);
 
 /*
  * Thumbnail
  */
 $thumbnail-bg:                  #fff;
 
 /*
  * Alerts
  */
 $alert-success-border:                  transparent;
 $alert-info-border:                     transparent;
 $alert-warning-border:		 	        transparent;
 $alert-danger-border:		 	        transparent;
 $alert-inverse-border:		 	        transparent;
 
 $alert-success-bg:                      fade($m-green, 70%);
 $alert-info-bg:		 		            fade($m-blue, 70%);
 $alert-warning-bg:                      fade($m-amber, 70%);
 $alert-danger-bg:                       fade($m-red, 70%);
 $alert-inverse-bg:                      #333;
 
 $alert-success-text:                    #fff;
 $alert-info-text:                       #fff;
 $alert-warning-text:                    #fff;
 $alert-danger-text:                     #fff;
 $alert-inverse-text:                    #fff;
 
 /*
  * Form Validations
  */
 $state-success-text:                    lighten($m-green, 8%);
 $state-warning-text:                    lighten($m-orange, 8%);
 $state-danger-text:                     lighten($m-red, 8%);
 
 $state-success-bg:                      lighten($m-green, 8%);
 $state-warning-bg:                      lighten($m-orange, 8%);
 $state-danger-bg:                       lighten($m-red, 8%);
 
 
 
 /*
  * Buttons
  */
 $border-radius-base:            2px;
 $border-radius-large:           2px;
 $border-radius-small:           2px;
 $btn-font-weight:				400;
 
 /*
  * Thumbnail
  */
 $thumbnail-border:				#EDEDED;
 $thumbnail-padding:				3px;
 
 /*
  * Carousel
  */
 $carousel-caption-color:        #fff;
 
 /*
  * Modal
  */
 $modal-content-fallback-border-color:	transparent;
 $modal-content-border-color:			transparent;
 $modal-backdrop-bg:						#000;
 $modal-header-border-color:				transparent;
 $modal-title-line-height:				transparent;
 $modal-footer-border-color:				transparent;
 $zindex-modal-background: 				11;
 
 /*
  * Tooltips
  */
 $tooltip-bg:                #737373;
 $tooltip-opacity:           1;
 
 /*
  * Popover
  */
 $zindex-popover:                9;
 $popover-title-bg:              #fff;
 $popover-border-color:          #fff;
 $popover-fallback-border-color: #fff;
 
 /*
  * Breadcrumbs
  */
 $breadcrumb-bg:            transparent;
 $breadcrumb-padding-horizontal: 20px;
 $breadcrumb-active-color:       #7c7c7c;
 
 /*
  * Jumbotron
  */
 $jumbotron-bg:              #F7F7F7;
 
 /*
  * List Groups
  */
 $list-group-border:                 #E9E9E9;
 $list-group-active-color:           #000;
 $list-group-active-bg:              #f5f5f5;
 $list-group-active-border:          #e9e9e9;
 $list-group-disabled-color:         #B5B4B4;
 $list-group-disabled-bg:            #fff;
 $list-group-disabled-text-color:    #B5B4B4;
 
 /* Bootstrap Branding */
 $brand-primary:             $m-blue;
 $brand-success:             $m-green;
 $brand-info:                $m-cyan;
 $brand-warning:             $m-orange;
 $brand-danger:              $m-red;
 $app-gray:                  #F7F7F7;

 /*
  * Badges
  */
 $badge-color:               #fff;
 $badge-bg:                  $brand-primary;
 $badge-border-radius:       2px;
 $badge-font-weight:         400;
 $badge-active-color:        #fff;
 $badge-active-bg:           $brand-primary;
 
 
 
 
 /*
  * Colors
  */
 $ace:                      #F7F7F7;
 
 /*
  * Blocks
  */
 $sidebar-left-width: 268px;
 $sidebar-right-width: 280px;
 $footer-height: 110px;
 $header-height: 48px;
 
 /*
  * Misc
  */
 $card-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);

 //Grayscale
$col_white: #FFFFFF;
$col_gray_half: #f9f9fb;
$col_gray_light: #F3F3F7;
$col_gray_0: #EAEAEF;
$col_gray_1: #E2E2E7;
$col_gray_2: #D0D0D7;
$col_gray_3: #BFBFC6;
$col_gray_4: #AEAEB6;
$col_gray_5: #9D9DA6;
$col_gray_6: #8C8B96;
$col_gray_7: #7B7A86;
$col_gray_8: #6A6976;
$col_gray_9: #595868;
$col_gray_10: #474655;
$col_trimble_gray: #363545;
$col_gray_dark_1: #262533;
$col_gray_dark_2: #1B1A26;
$col_gray_dark_3: #0B0A12;
$col_black: #000000;
$page-backdrop: #f2f2f2;

//Blue Buttons & Notifications
$col_blue: #0D6AA8;
$col_blue_light: #197CB6;
$col_blue_dark: #07599B;
$col_blue_pale: #CFE1EE;

//Green Buttons & Notifications
$col_green: #5E9331;
$col_green_light: #72A544;
$col_green_dark: #4A821F;
$col_green_pale: #DFE9D6;
$green-success: #94D891;

//Yellow Buttons
$col_yellow: #FFBE00;
$col_yellow_light: #FFD200;
$col_yellow_dark: #FFA500;
$col_yellow_pale: #FFF2CC;

//Orange Notifications
$col_orange: #ff8b00;
$col_orange_light: #ffa500;
$col_orange_dark: #ff6e00;
$col_orange_pale: #FFE8CC;


//////////
// PINK //
//////////
$pink: #F056B5;

//Red Buttons & Notifications
$col_red: #C81922;
$col_red_light: #D52A33;
$col_red_dark: #BC0911;
$col_red_pale: #F4D1D3;

//Markup
$col_markup: #ff00ff;

//------------------------------------------------//
// TYPOGRRAPHY
//------------------------------------------------//

///////////
// FONTS //
///////////
$font-stack: 'Open Sans', sans-serif;
$font-small: 12px;
$font-med: 14px;
$font-large: 16px;
$font-xl: 18px;
$font-xxl: 20px;

$f-8px: 0.6400em;
$f-10px: 0.6900em;
$f-12px: 0.7500em;	
$f-13px: 0.8125em;	
$f-14px: 0.8750em;	
$f-15px: 0.9375em;	
$f-16px: 1.0000em;	
$f-17px: 1.0625em;	
$f-18px: 1.1250em;	
$f-19px: 1.1875em;	
$f-20px: 1.2500em;	
$f-21px: 1.3125em;	
$f-22px: 1.3750em;	
$f-23px: 1.4375em;	
$f-24px: 1.5000em;	
$f-28px: 1.75em;

 
//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px;
$screen-md-min:              $screen-md;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px;
$screen-lg-min:              $screen-lg;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);

//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

$padding-base-vertical:     6px;
$padding-base-horizontal:   12px;

$padding-large-vertical:    10px;
$padding-large-horizontal:  16px;

$padding-small-vertical:    5px;
$padding-small-horizontal:  10px;

$padding-xs-vertical:       1px;
$padding-xs-horizontal:     5px;

$line-height-large:         1.3333333; // extra decimals for Win 8.1 Chrome
$line-height-small:         1.5;

$border-radius-base:        4px;
$border-radius-large:       6px;
$border-radius-small:       3px;

//** Global color for active items (e.g., navs or dropdowns).
$component-active-color:    #fff;
//** Global background color for active items (e.g., navs or dropdowns).
$component-active-bg:       $brand-primary;

//** Width of the `border` for generating carets that indicator dropdowns.
$caret-width-base:          4px;
//** Carets increase slightly in size for larger components.
$caret-width-large:         5px;


//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
$table-cell-padding:            8px;
//** Padding for cells in `.table-condensed`.
$table-condensed-cell-padding:  5px;

//** Default background color used for all tables.
$table-bg:                      transparent;
//** Background color used for `.table-striped`.
$table-bg-accent:               #f9f9f9;
//** Background color used for `.table-hover`.
$table-bg-hover:                #f5f5f5;
$table-bg-active:               $table-bg-hover;

//** Border color for table and cell borders.
$table-border-color:            #ddd;


//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-font-weight:                normal;

$btn-default-color:              #333;
$btn-default-bg:                 #fff;
$btn-default-border:             #ccc;

$btn-primary-color:              #fff;
$btn-primary-bg:                 $brand-primary;
$btn-primary-border:             darken($btn-primary-bg, 5%);

$btn-success-color:              #fff;
$btn-success-bg:                 $brand-success;
$btn-success-border:             darken($btn-success-bg, 5%);

$btn-info-color:                 #fff;
$btn-info-bg:                    $brand-info;
$btn-info-border:                darken($btn-info-bg, 5%);

$btn-warning-color:              #fff;
$btn-warning-bg:                 $brand-warning;
$btn-warning-border:             darken($btn-warning-bg, 5%);

$btn-danger-color:               #fff;
$btn-danger-bg:                  $brand-danger;
$btn-danger-border:              darken($btn-danger-bg, 5%);

