.airline-widget{
    min-width:200px;
    width: 100%;
    height: 100%;
    margin:0px 15px 15px 0px;
    display: inline-block;
    @media (max-width: $second-break) { 
        min-width:200px;
     }

}
