.airport-widget{
    width:250px;
    margin:0px 15px 15px 0px;
    display: inline-block;
    @media (max-width: $second-break) { 
        width: 250px;
     }
    &-popular{
        // height: 233px;
    }
    &-header{
        background: $light-blue;
        padding: 15px;
        height: 155px;
    }
}

.img-14 {
    height: 14px;
    padding-right: 5px;
    vertical-align: sub;
}
.img-12 {
    height: 12px;
    padding-right: 2px;
    vertical-align: sub;
}
// LINKS
.dark-link{
    color: #ffffff;
    &:hover{
        cursor: pointer;
        color: $col_yellow;
    }
}

.link{
    color: $blue-main;
    &:hover{
        cursor: pointer;
        color: $blue-dark
    }
}
