.breadcrumb {
    border-bottom: 1px solid #E5E5E5;
    border-radius: 0;
    list-style: none;
    background-color: transparent;
    
    & > li {
        display: inline-block;
        *, :active, :focus, :hover {
            outline: 0!important;
            -webkit-tap-highlight-color: transparent!important;
        }
        & > a {
            color: #A9A9A9;
            
            &:hover {
                color: $breadcrumb-active-color;
            }
            .material-icons{
                height: 18px;
                width: 18px;
                font-size: 18px;
                line-height: 18px;
                margin-top: -4px;
            }
        }

        
    }

}

.breadcrumb>li+li:before {
    content: "/\00a0";
    padding: 0 5px;
    color: #ccc;
}

body {
    &:not(.sw-toggled) {
        .breadcrumb {
            @media (min-width: $screen-sm-min) {
                padding: 5px 3px 11px;
            }
        }
    }
    
    &.sw-toggled {
        .breadcrumb {
            @media (min-width: 1199px) {
                padding: 5px 3px 11px 280px;
            }
        }
    }
}
