#footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: $footer-height;
    color: #a2a2a2;
    padding-top: 35px;
    padding-bottom: 15px;
    
    .f-menu {
        display: block;
        width: 100%;
        /*@include list-inline();*/
        margin-top: 8px;
        
        & > li > a {
            color: #a2a2a2;
            
            &:hover {
                color: #777;
            }
        } 
    }
} 

@media (min-width: $screen-md-max) {
    body.sw-toggled {
        #footer {
            padding-left: $sidebar-left-width; 
        }
    } 
}

// List options

// Unstyled keeps list items block level, just removes default browser padding and list-style
.list-unstyled {
    padding-left: 0;
    list-style: none;
  }
  
  // Inline turns list items into inline-block
  .list-inline {
    /*@include list-unstyled();*/
    margin-left: -5px;
  
    > li {
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

#sidenav-footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 18px;
    background: #3f51b5;
    background-color: rgba(63, 81, 181, 0.8) !important;
    font-size: 10px;
    font-weight: 300;
    line-height: 18px;
    padding-left: 2px;
    overflow: hidden;
    
    color: #fff;
    display: block;
}
  
