
@import '~@angular/material/theming';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

 

$config: mat-typography-config(
  $font-family: '"Open Sans", sans-serif',
  $body-2:        mat-typography-level(13px, 22px, 500),
  $body-1:        mat-typography-level(13px, 18px, 400),
  $subheading-2:  mat-typography-level(14px, 25px, 500),
  $subheading-1:  mat-typography-level(13px, 21px, 400),
  $headline:      mat-typography-level(17px, 25px, 300)
);

//@include mat-core($config);




body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

html, body { height: 100%; }

@import './assets/scss/ams.scss'
