
<app-dashboard-header></app-dashboard-header>

  <!-- GRID -->
  <mat-grid-list cols="12" rowHeight="103px">
  
    <!-- ROW I AIRPORT CHECK GRAPH-->
    <mat-grid-tile [colspan]="12" [rowspan]="3">

      <mat-card class="card">

        <mat-card-header class="card-header">
            <div mat-card-avatar >
              <img mat-card-avatar src="./../../assets/images/common/airport.png"  alt="Airport">
            </div>
            <mat-card-title>Airport Check</mat-card-title>
            <mat-card-subtitle>The World Airport Database (WAD) is a database of 46483 airports big and small from all around the world.</mat-card-subtitle>
            
            <mat-card-actions class="actions">
                <button mat-icon-button class="more-button" aria-label="Refresh">
                    <mat-icon>refresh</mat-icon>
                  </button>
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item>Expand</button>
                  <button mat-menu-item>Remove</button>
                </mat-menu>
            </mat-card-actions>
        </mat-card-header>

        <mat-card-content class="card-body">
            <div class="chart-edge">
                <div id="curved-line-chart" class="flot-chart">
                        <canvas baseChart 
                            [datasets]="lineChartData"
                            [labels]="lineChartLabels"
                            [options]="lineChartOptions"
                            [colors]="lineChartColors"
                            [legend]="lineChartLegend"
                            [chartType]="lineChartType"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
        </mat-card-content>

      </mat-card>
    </mat-grid-tile>

    <!-- ROW II -->
    <mat-grid-tile [colspan]="3" [rowspan]="1">

        <mat-card> 
            <mat-card-content>
              <div class="mini-charts-item bgm-darkblue">
                <div class="clearfix">
                    <div class="chart stats-bar">
                      <canvas baseChart 
                          style="display: inline-block; width: 85px;height: 50px;vertical-align: top;"
                            [datasets]="minichartOneData"
                            [labels]="minichartOneLabels"
                            [options]="miniChartOptions"
                            [colors]="minichartOneColors"
                            [chartType]="'bar'"
                          ></canvas></div>
                    <div class="count">
                        <small>Airport City Assignments {{ progressAirportCity | percent:'2.2-2'}}</small>
                        <h2>{{airportCityAssigned | number:'1.0-0'}}</h2>
                    </div>
                </div>
            </div>
          </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="1">
        <mat-card>
            <mat-card-content>
              <div class="mini-charts-item bgm-lightblue">
                <div class="clearfix">
                    <div class="chart stats-bar">
                      <canvas baseChart 
                          style="display: inline-block; width: 85px;height: 50px;vertical-align: top;"
                            [datasets]="minichartTwoData"
                            [labels]="minichartTwoLabels"
                            [options]="miniChartOptions"
                            [colors]="minichartOneColors"
                            [chartType]="'bar'"
                          ></canvas></div>
                    <div class="count">
                        <small>AE Value</small>
                        <h2>{{aeCurrentValue | currency:'USD':'symbol':'4.2-2'}}</h2>
                    </div>
                </div>
            </div>
          </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="1"></mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="1"></mat-grid-tile>

    <!-- ROW III Airports List -->
    <mat-grid-tile [colspan]="4" [rowspan]="2">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar ></div>
          <mat-card-title>Tasks</mat-card-title>
          <mat-card-subtitle>Current developer task list</mat-card-subtitle>
        </mat-card-header>
        
        <mat-card-content>
          <div class="list-group">
            <a class="list-group-item" href="">
                <div class="lgi-icon">
                    <i class="material-icons">build </i>
                </div>
                <div class="lgi-body">
                    <div class="lgi-heading">Airport City Population</div>
                    <small class="lgi-text">Assign city and population data to airports (progress: {{ progressAirportCity | percent:'2.2-2'}})</small>
                    <mat-progress-bar mode="determinate" [value]="progressAirportCityPct|number:'1.0-0'"></mat-progress-bar>
                </div>
            </a>
        </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <!-- ROW I AIRPORT CHECK GRAPH-->
    <mat-grid-tile [colspan]="8" [rowspan]="6">

      <mat-card class="card-90">

        <mat-card-header>
            <div mat-card-avatar >
              <img mat-card-avatar src="./../../assets/images/common/airport.png"  alt="Airport">
            </div>
            <mat-card-title>Airport Check</mat-card-title>
            <mat-card-subtitle>The World Airport Database (WAD) is a database of 46483 airports big and small from all around the world.</mat-card-subtitle>
            
            <mat-card-actions>
                <button mat-icon-button class="more-button" aria-label="Refresh">
                    <mat-icon>refresh</mat-icon>
                  </button>
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item>Expand</button>
                  <button mat-menu-item>Remove</button>
                </mat-menu>
            </mat-card-actions>
        </mat-card-header>

        <mat-card-content style="overflow: auto;">
          <google-chart
            style="width: 900px; height: 500px;"
            id="country-geo-chart" 
            [data]="countryGeoChartData" 
            type="GeoChart" 
            [width]="900"
            [height]="500"
            (select)="onCountrySelect($event)"
            [options]="gvdtCountryListOptions" #chart></google-chart>
        </mat-card-content>

      </mat-card>
  </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="1">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar ></div>
          <mat-card-title>Country</mat-card-title>
          <mat-card-subtitle>Current developer task list</mat-card-subtitle>
        </mat-card-header>
        
        <mat-card-content>
            
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="1">
      W2
    </mat-grid-tile>

    <!-- Airports Map -->
    
    <!-- Airports Info -->
   
  
</mat-grid-list>