
<mat-nav-list *ngFor="let navitem of navigation" >
  
    <a mat-list-item [routerLink]="navitem.url" [routerLinkActive]="['active']" role="navigation" *ngIf="isVisible(navitem)">
      <mat-icon matListIcon>{{navitem.icon}}</mat-icon>
      <h3 matLine>{{navitem.title}}</h3>
    </a>
    
</mat-nav-list>

<mat-list-item *ngIf="isAuthenticated" (click)="logout()">
<mat-icon matListIcon>exit_to_app</mat-icon>
<h3 matLine>Logout</h3>

</mat-list-item>

